// SCSS Variablen START

$gutter-width: 2rem;
$outer-margin: 8px;

$gutter-compensation: $gutter-width / (-2);
$half-gutter-width: $gutter-width / 2;

$lg-max: 1280px;
$md-max: 1080px;
$sm-max: 900px;
$xs-max: 600px;

$container-xl: $lg-max;
$container-lg: $md-max ;
$container-md: $sm-max ;
$container-sm: $xs-max ;
$container-xs: 320px ;

// SCSS Variablen END

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: $outer-margin;
  padding-left: $outer-margin;
}

.container-fluid-content {
  max-width: calc(#{$lg-max} + 2 * 8.33333333%);
  width: 100%;
  padding-left: 8.33333333%;
  padding-right: 8.33333333%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

// XL-Columns START

.container {
  width: $container-xl;
}

.g-xl,
.g-xl-1,
.g-xl-10,
.g-xl-11,
.g-xl-12,
.g-xl-2,
.g-xl-3,
.g-xl-4,
.g-xl-5,
.g-xl-6,
.g-xl-7,
.g-xl-8,
.g-xl-9,
.push-xl-0,
.push-xl-1,
.push-xl-10,
.push-xl-11,
.push-xl-12,
.push-xl-2,
.push-xl-3,
.push-xl-4,
.push-xl-5,
.push-xl-6,
.push-xl-7,
.push-xl-8,
.push-xl-9 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}

.g-xl {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.g-xl-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.g-xl-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.g-xl-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.g-xl-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.g-xl-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.g-xl-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.g-xl-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.g-xl-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.g-xl-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.g-xl-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.g-xl-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.g-xl-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.push-xl-0 {
  margin-left: 0;
}

.push-xl-1 {
  margin-left: 8.33333333%;
}

.push-xl-2 {
  margin-left: 16.66666667%;
}

.push-xl-3 {
  margin-left: 25%;
}

.push-xl-4 {
  margin-left: 33.33333333%;
}

.push-xl-5 {
  margin-left: 41.66666667%;
}

.push-xl-6 {
  margin-left: 50%;
}

.push-xl-7 {
  margin-left: 58.33333333%;
}

.push-xl-8 {
  margin-left: 66.66666667%;
}

.push-xl-9 {
  margin-left: 75%;
}

.push-xl-10 {
  margin-left: 83.33333333%;
}

.push-xl-11 {
  margin-left: 91.66666667%;
}

.start-xl {
  justify-content: flex-start;
  text-align: start;
}

.center-xl {
  justify-content: center;
  text-align: center;
}

.end-xl {
  justify-content: flex-end;
  text-align: end;
}

.top-xl {
  align-items: flex-start;
}

.middle-xl {
  align-items: center;
}

.bottom-xl {
  align-items: flex-end;
}

.around-xl {
  justify-content: space-around;
}

.between-xl {
  justify-content: space-between;
}

.first-xl {
  order: -1;
}

.last-xl {
  order: 1;
}

// XL-Columns END

// LG-Columns START

@media (max-width: $lg-max) {

  .container {
    width: $container-lg;
  }

  .container-fluid-lg {
      padding-right: $outer-margin;
      padding-left: $outer-margin;
      width: auto;
    }




  .g-lg,
  .g-lg-1,
  .g-lg-10,
  .g-lg-11,
  .g-lg-12,
  .g-lg-2,
  .g-lg-3,
  .g-lg-4,
  .g-lg-5,
  .g-lg-6,
  .g-lg-7,
  .g-lg-8,
  .g-lg-9,
  .push-lg-0,
  .push-lg-1,
  .push-lg-10,
  .push-lg-11,
  .push-lg-12,
  .push-lg-2,
  .push-lg-3,
  .push-lg-4,
  .push-lg-5,
  .push-lg-6,
  .push-lg-7,
  .push-lg-8,
  .push-lg-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  .g-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .g-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .g-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .g-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .g-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .g-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .g-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .g-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .g-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .g-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .g-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .g-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .g-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .push-lg-0 {
    margin-left: 0;
  }

  .push-lg-1 {
    margin-left: 8.33333333%;
  }

  .push-lg-2 {
    margin-left: 16.66666667%;
  }

  .push-lg-3 {
    margin-left: 25%;
  }

  .push-lg-4 {
    margin-left: 33.33333333%;
  }

  .push-lg-5 {
    margin-left: 41.66666667%;
  }

  .push-lg-6 {
    margin-left: 50%;
  }

  .push-lg-7 {
    margin-left: 58.33333333%;
  }

  .push-lg-8 {
    margin-left: 66.66666667%;
  }

  .push-lg-9 {
    margin-left: 75%;
  }

  .push-lg-10 {
    margin-left: 83.33333333%;
  }

  .push-lg-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}

// LG-Columns END

// MD-Columns START

@media (max-width: $md-max) {
  .container {
    width: $container-md;
  }

  .container-fluid-md {
      padding-right: $outer-margin;
      padding-left: $outer-margin;
      width: auto;
    }



  .g-md,
  .g-md-1,
  .g-md-10,
  .g-md-11,
  .g-md-12,
  .g-md-2,
  .g-md-3,
  .g-md-4,
  .g-md-5,
  .g-md-6,
  .g-md-7,
  .g-md-8,
  .g-md-9,
  .push-md-0,
  .push-md-1,
  .push-md-10,
  .push-md-11,
  .push-md-12,
  .push-md-2,
  .push-md-3,
  .push-md-4,
  .push-md-5,
  .push-md-6,
  .push-md-7,
  .push-md-8,
  .push-md-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  .g-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .g-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .g-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .g-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .g-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .g-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .g-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .g-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .g-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .g-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .g-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .g-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .g-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .push-md-0 {
    margin-left: 0;
  }

  .push-md-1 {
    margin-left: 8.33333333%;
  }

  .push-md-2 {
    margin-left: 16.66666667%;
  }

  .push-md-3 {
    margin-left: 25%;
  }

  .push-md-4 {
    margin-left: 33.33333333%;
  }

  .push-md-5 {
    margin-left: 41.66666667%;
  }

  .push-md-6 {
    margin-left: 50%;
  }

  .push-md-7 {
    margin-left: 58.33333333%;
  }

  .push-md-8 {
    margin-left: 66.66666667%;
  }

  .push-md-9 {
    margin-left: 75%;
  }

  .push-md-10 {
    margin-left: 83.33333333%;
  }

  .push-md-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}

// MD-Columns END

// SM-Columns START

@media (max-width: $sm-max) {

  .container {
    width: $container-sm;
  }

  .container-fluid-sm {
      padding-right: $outer-margin;
      padding-left: $outer-margin;
      width: auto;
    }

  .g-sm,
  .g-sm-1,
  .g-sm-10,
  .g-sm-11,
  .g-sm-12,
  .g-sm-2,
  .g-sm-3,
  .g-sm-4,
  .g-sm-5,
  .g-sm-6,
  .g-sm-7,
  .g-sm-8,
  .g-sm-9,
  .push-sm-0,
  .push-sm-1,
  .push-sm-10,
  .push-sm-11,
  .push-sm-12,
  .push-sm-2,
  .push-sm-3,
  .push-sm-4,
  .push-sm-5,
  .push-sm-6,
  .push-sm-7,
  .push-sm-8,
  .push-sm-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  .g-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .g-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .g-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .g-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .g-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .g-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .g-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .g-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .g-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .g-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .g-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .g-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .g-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .push-sm-0 {
    margin-left: 0;
  }

  .push-sm-1 {
    margin-left: 8.33333333%;
  }

  .push-sm-2 {
    margin-left: 16.66666667%;
  }

  .push-sm-3 {
    margin-left: 25%;
  }

  .push-sm-4 {
    margin-left: 33.33333333%;
  }

  .push-sm-5 {
    margin-left: 41.66666667%;
  }

  .push-sm-6 {
    margin-left: 50%;
  }

  .push-sm-7 {
    margin-left: 58.33333333%;
  }

  .push-sm-8 {
    margin-left: 66.66666667%;
  }

  .push-sm-9 {
    margin-left: 75%;
  }

  .push-sm-10 {
    margin-left: 83.33333333%;
  }

  .push-sm-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}

// SM-Columns END

// XS-Columns START

@media (max-width: $xs-max) {

  .container {
    width: $container-xs;
  }

  .container-fluid-xs {
    padding-right: $outer-margin;
    padding-left: $outer-margin;
    width: auto;
  }

  .g-xs,
  .g-xs-1,
  .g-xs-10,
  .g-xs-11,
  .g-xs-12,
  .g-xs-2,
  .g-xs-3,
  .g-xs-4,
  .g-xs-5,
  .g-xs-6,
  .g-xs-7,
  .g-xs-8,
  .g-xs-9,
  .push-xs-0,
  .push-xs-1,
  .push-xs-10,
  .push-xs-11,
  .push-xs-12,
  .push-xs-2,
  .push-xs-3,
  .push-xs-4,
  .push-xs-5,
  .push-xs-6,
  .push-xs-7,
  .push-xs-8,
  .push-xs-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }

  .g-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .g-xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .g-xs-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .g-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .g-xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .g-xs-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .g-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .g-xs-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .g-xs-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .g-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .g-xs-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .g-xs-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .g-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .push-xs-0 {
    margin-left: 0;
  }

  .push-xs-1 {
    margin-left: 8.33333333%;
  }

  .push-xs-2 {
    margin-left: 16.66666667%;
  }

  .push-xs-3 {
    margin-left: 25%;
  }

  .push-xs-4 {
    margin-left: 33.33333333%;
  }

  .push-xs-5 {
    margin-left: 41.66666667%;
  }

  .push-xs-6 {
    margin-left: 50%;
  }

  .push-xs-7 {
    margin-left: 58.33333333%;
  }

  .push-xs-8 {
    margin-left: 66.66666667%;
  }

  .push-xs-9 {
    margin-left: 75%;
  }

  .push-xs-10 {
    margin-left: 83.33333333%;
  }

  .push-xs-11 {
    margin-left: 91.66666667%;
  }

  .start-xs {
    justify-content: flex-start;
    text-align: start;
  }

  .center-xs {
    justify-content: center;
    text-align: center;
  }

  .end-xs {
    justify-content: flex-end;
    text-align: end;
  }

  .top-xs {
    align-items: flex-start;
  }

  .middle-xs {
    align-items: center;
  }

  .bottom-xs {
    align-items: flex-end;
  }

  .around-xs {
    justify-content: space-around;
  }

  .between-xs {
    justify-content: space-between;
  }

  .first-xs {
    order: -1;
  }

  .last-xs {
    order: 1;
  }

}
// XS-Columns END
