@font-face {
    font-family: 'silka';
    src: url('../assets/fonts/silka-black-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'silka';
    src: url('../assets/fonts/silka-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'silka';
    src: url('../assets/fonts/silka-extralight-webfont.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'silka';
    src: url('../assets/fonts/silka-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'silka';
    src: url('../assets/fonts/silka-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'silka';
    src: url('../assets/fonts/silka-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'silka';
    src: url('../assets/fonts/silka-semibold-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'silka';
    src: url('../assets/fonts/silka-thin-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

  
$brand-primary-font: "silka","Helvetica Neue",Arial,sans-serif;
$brand-secondary-font: "Source Serif", "Times New Roman", serif;