// RESET START

* {
  box-sizing: border-box;
  outline: none;
  &:before {
    box-sizing: border-box;
    outline: none;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $brand-primary-font;
  color: $brand-color-primary;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  &.modal-open {
    overflow: hidden;
    
    @media (min-width: $md-max) {
      padding-right: 15px;
    }
    
    &.no-scrollbar {
      padding-right: 0px;
    }
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="checkbox"],
input[type="text"],
input[type="email"],
textarea,
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
   resize: none;
   border: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// RESET END

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.headline {
  font-family: $brand-primary-font;
}

.headline--1 {
  font-size: 4.5rem;
  font-weight: 700;

  @media (max-width: $sm-max){
    font-size: $font-size-3xl;
  }
}

.headline--2 {
  font-size: $font-size-4xl;
  line-height: 1.2;
  font-weight: 700;

  @media (max-width: $sm-max){
    font-size: $font-size-2xl;
  }
}

.headline--3 {
  font-size: $font-size-3xl;
  font-weight: 600;

  @media (max-width: $sm-max){
    font-size: $font-size-xl;
  }
}

.headline--4 {
  font-size: $font-size-2xl;
  font-weight: 700;

  @media (max-width: $sm-max){
    font-size: $font-size-xl;
  }
}

.headline--5 {
  font-size: $font-size-xl;
  font-weight: 600;

  @media (max-width: $sm-max){
    font-size: $font-size-l;
  }
}

.headline--6 {
  font-size: $font-size-l;
  font-weight: 600;

  @media (max-width: $sm-max){
    font-size: $font-size-m;
  }
}


a,
a:focus,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

::selection {
  color: white;
  background-color: rgba($brand-color-secondary,.996);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

p, body {
  line-height: 1.7;
  font-size: 1.125rem;
  margin: 0;
  
  @media (max-width: $sm-max){
    font-size: 1rem;
  }
}

//FADE IN ANIMATIONS
.fade-in-up {
  transform: translateY(50px);
  opacity: 0;
  transition: 1.3s;
}

.animate-fade-in-up {
  transform: translateY(0);
  opacity: 1;
}



.ratio-1by1,
.ratio-4by3 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &:before{
    content: "";
    display: block;
    width: 1px;
    margin-left: -1px;
    padding-top: 100%;
  }
}

.ratio-4by3 {
  &:before{
    padding-top: 75%;
  }
}

.ratio-16by9 {
  &:before{
    padding-top: 56.25%;
  }
}

.anchor-offset {
    border-top: $anchor-offset solid transparent;
    margin-top: -$anchor-offset;
    background-clip: padding-box;
}

/* MARGIN BOTTOM */
.m-b-02 { margin-bottom: $spacer * 0.2;}
.m-b-03 { margin-bottom: $spacer * 0.3;}
.m-b-04 { margin-bottom: $spacer * 0.4;}
.m-b-05 { margin-bottom: $spacer * 0.5;}

.m-b-0 { margin-bottom: 0;}
.m-b-1 { margin-bottom: $spacer ;}
.m-b-2 { margin-bottom: $spacer * 2;}
.m-b-3 { margin-bottom: $spacer * 3;}
.m-b-4 { margin-bottom: $spacer * 4;}
.m-b-5 { margin-bottom: $spacer * 5;}
.m-b-6 { margin-bottom: $spacer * 6;}

/* MARGIN TOP */
.m-t-02 { margin-top: $spacer * 0.2;}
.m-t-03 { margin-top: $spacer * 0.3;}
.m-t-04 { margin-top: $spacer * 0.4;}
.m-t-05 { margin-top: $spacer * 0.5;}

.m-t-0 { margin-top: 0;}
.m-t-1 { margin-top: $spacer ;}
.m-t-2 { margin-top: $spacer * 2;}
.m-t-3 { margin-top: $spacer * 3;}
.m-t-4 { margin-top: $spacer * 4;}
.m-t-5 { margin-top: $spacer * 5;}
.m-t-6 { margin-top: $spacer * 6;}
.m-t-8 { margin-top: $spacer * 8;}
.m-t-10 { margin-top: $spacer * 10;}
.m-t-12 { margin-top: $spacer * 12;}

/* MARGIN LEFT */
.m-l-02 { margin-left: $spacer * 0.2;}
.m-l-03 { margin-left: $spacer * 0.3;}
.m-l-04 { margin-left: $spacer * 0.4;}
.m-l-05 { margin-left: $spacer * 0.5;}

.m-l-0 { margin-left: 0;}
.m-l-1 { margin-left: $spacer ;}
.m-l-2 { margin-left: $spacer * 2;}
.m-l-3 { margin-left: $spacer * 3;}
.m-l-4 { margin-left: $spacer * 4;}
.m-l-5 { margin-left: $spacer * 5;}
.m-l-6 { margin-left: $spacer * 6;}

/* MARGIN RIGHT */
.m-r-02 { margin-right: $spacer * 0.2;}
.m-r-03 { margin-right: $spacer * 0.3;}
.m-r-04 { margin-right: $spacer * 0.4;}
.m-r-05 { margin-right: $spacer * 0.5;}

.m-r-0 { margin-right: 0;}
.m-r-1 { margin-right: $spacer ;}
.m-r-2 { margin-right: $spacer * 2;}
.m-r-3 { margin-right: $spacer * 3;}
.m-r-4 { margin-right: $spacer * 4;}
.m-r-5 { margin-right: $spacer * 5;}
.m-r-6 { margin-right: $spacer * 6;}


/*PADDING BOTTOM*/

.p-b-02 { padding-bottom: $spacer * 0.2;}
.p-b-03 { padding-bottom: $spacer * 0.3;}
.p-b-04 { padding-bottom: $spacer * 0.4;}
.p-b-05 { padding-bottom: $spacer * 0.5;}

.p-b-0 { padding-bottom: 0;}
.p-b-1 { padding-bottom: $spacer ;}
.p-b-2 { padding-bottom: $spacer * 2;}
.p-b-3 { padding-bottom: $spacer * 3;}
.p-b-4 { padding-bottom: $spacer * 4;}
.p-b-5 { padding-bottom: $spacer * 5;}
.p-b-6 { padding-bottom: $spacer * 6;}


/*PADDING TOP*/

.p-t-02 { padding-top: $spacer * 0.2;}
.p-t-03 { padding-top: $spacer * 0.3;}
.p-t-04 { padding-top: $spacer * 0.4;}
.p-t-05 { padding-top: $spacer * 0.5;}

.p-t-0 { padding-top: 0;}
.p-t-1 { padding-top: $spacer ;}
.p-t-2 { padding-top: $spacer * 2;}
.p-t-3 { padding-top: $spacer * 3;}
.p-t-4 { padding-top: $spacer * 4;}
.p-t-5 { padding-top: $spacer * 5;}
.p-t-6 { padding-top: $spacer * 6;}


/*PADDING LEFT*/
.p-l-default { padding-left: 8px;}

.p-l-02 { padding-left: $spacer * 0.2;}
.p-l-03 { padding-left: $spacer * 0.3;}
.p-l-04 { padding-left: $spacer * 0.4;}
.p-l-05 { padding-left: $spacer * 0.5;}

.p-l-0 { padding-left: 0;}
.p-l-1 { padding-left: $spacer ;}
.p-l-2 { padding-left: $spacer * 2;}
.p-l-3 { padding-left: $spacer * 3;}
.p-l-4 { padding-left: $spacer * 4;}
.p-l-5 { padding-left: $spacer * 5;}
.p-l-6 { padding-left: $spacer * 6;}


/*PADDING RIGHT*/
.p-r-default { padding-right: 8px;}

.p-r-02 { padding-right: $spacer * 0.2;}
.p-r-03 { padding-right: $spacer * 0.3;}
.p-r-04 { padding-right: $spacer * 0.4;}
.p-r-05 { padding-right: $spacer * 0.5;}

.p-r-0 { padding-right: 0;}
.p-r-1 { padding-right: $spacer ;}
.p-r-2 { padding-right: $spacer * 2;}
.p-r-3 { padding-right: $spacer * 3;}
.p-r-4 { padding-right: $spacer * 4;}
.p-r-5 { padding-right: $spacer * 5;}
.p-r-6 { padding-right: $spacer * 6;}



/* WIDTH & HEIGHT START*/

.full-screen {
  width: 100vw;
  height: 100vh;
}

.h-100vh {height: 100vh;}

.w-100 {width: 100%;}

/* WIDTH & HEIGHT END*/


/*USER SELECTION START*/

.no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.all-select{
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/*USER SELECTION END*/


/*POSITION START*/

.p-absolute {position: absolute;}
.p-relative {position: relative;}
.p-fixed {position: fixed;}

/*POSITION END*/


/*BACKGROUND START*/

.bg-cover-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-contain-center {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-center-center {
  background-position: center center;
}

/*BACKGROUND END*/


/*TEXT START*/
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-justify {text-align: justify;}
/*TEXT END*/


/*OVERFLOW START*/
.overflow-hidden {overflow: hidden;}
.overflow-x-hidden {overflow-x: hidden;}
.overflow-y-hidden {overflow-y: hidden;}

.overflow-visible {overflow: visible;}
.overflow-x-visible {overflow-x: visible;}
.overflow-y-visible {overflow-y: visible;}
/*OVERFLOW END*/




@mixin responsive($value, $size-var) {
  @media (max-width: $size-var) {


    /* MARGIN BOTTOM */
    .m#{$value}-b-02 { margin-bottom: $spacer * 0.2;}
    .m#{$value}-b-03 { margin-bottom: $spacer * 0.3;}
    .m#{$value}-b-04 { margin-bottom: $spacer * 0.4;}
    .m#{$value}-b-05 { margin-bottom: $spacer * 0.5;}

    .m#{$value}-b-0 { margin-bottom: 0;}
    .m#{$value}-b-1 { margin-bottom: $spacer ;}
    .m#{$value}-b-2 { margin-bottom: $spacer * 2;}
    .m#{$value}-b-3 { margin-bottom: $spacer * 3;}
    .m#{$value}-b-4 { margin-bottom: $spacer * 4;}
    .m#{$value}-b-5 { margin-bottom: $spacer * 5;}
    .m#{$value}-b-6 { margin-bottom: $spacer * 6;}

    /* MARGIN TOP */
    .m#{$value}-t-02 { margin-top: $spacer * 0.2;}
    .m#{$value}-t-03 { margin-top: $spacer * 0.3;}
    .m#{$value}-t-04 { margin-top: $spacer * 0.4;}
    .m#{$value}-t-05 { margin-top: $spacer * 0.5;}

    .m#{$value}-t-0 { margin-top: 0;}
    .m#{$value}-t-1 { margin-top: $spacer ;}
    .m#{$value}-t-2 { margin-top: $spacer * 2;}
    .m#{$value}-t-3 { margin-top: $spacer * 3;}
    .m#{$value}-t-4 { margin-top: $spacer * 4;}
    .m#{$value}-t-5 { margin-top: $spacer * 5;}
    .m#{$value}-t-6 { margin-top: $spacer * 6;}
    .m#{$value}-t-8 { margin-top: $spacer * 8;}
    .m#{$value}-t-10 { margin-top: $spacer * 10;}
    .m#{$value}-t-12 { margin-top: $spacer * 12;}

    /* MARGIN LEFT */
    .m#{$value}-l-02 { margin-left: $spacer * 0.2;}
    .m#{$value}-l-03 { margin-left: $spacer * 0.3;}
    .m#{$value}-l-04 { margin-left: $spacer * 0.4;}
    .m#{$value}-l-05 { margin-left: $spacer * 0.5;}

    .m#{$value}-l-0 { margin-left: 0;}
    .m#{$value}-l-1 { margin-left: $spacer ;}
    .m#{$value}-l-2 { margin-left: $spacer * 2;}
    .m#{$value}-l-3 { margin-left: $spacer * 3;}
    .m#{$value}-l-4 { margin-left: $spacer * 4;}
    .m#{$value}-l-5 { margin-left: $spacer * 5;}
    .m#{$value}-l-6 { margin-left: $spacer * 6;}

    /* MARGIN RIGHT */
    .m#{$value}-r-02 { margin-right: $spacer * 0.2;}
    .m#{$value}-r-03 { margin-right: $spacer * 0.3;}
    .m#{$value}-r-04 { margin-right: $spacer * 0.4;}
    .m#{$value}-r-05 { margin-right: $spacer * 0.5;}

    .m#{$value}-r-0 { margin-right: 0;}
    .m#{$value}-r-1 { margin-right: $spacer ;}
    .m#{$value}-r-2 { margin-right: $spacer * 2;}
    .m#{$value}-r-3 { margin-right: $spacer * 3;}
    .m#{$value}-r-4 { margin-right: $spacer * 4;}
    .m#{$value}-r-5 { margin-right: $spacer * 5;}
    .m#{$value}-r-6 { margin-right: $spacer * 6;}


    /*PADDING BOTTOM*/

    .p#{$value}-b-02 { padding-bottom: $spacer * 0.2;}
    .p#{$value}-b-03 { padding-bottom: $spacer * 0.3;}
    .p#{$value}-b-04 { padding-bottom: $spacer * 0.4;}
    .p#{$value}-b-05 { padding-bottom: $spacer * 0.5;}

    .p#{$value}-b-0 { padding-bottom: 0;}
    .p#{$value}-b-1 { padding-bottom: $spacer ;}
    .p#{$value}-b-2 { padding-bottom: $spacer * 2;}
    .p#{$value}-b-3 { padding-bottom: $spacer * 3;}
    .p#{$value}-b-4 { padding-bottom: $spacer * 4;}
    .p#{$value}-b-5 { padding-bottom: $spacer * 5;}
    .p#{$value}-b-6 { padding-bottom: $spacer * 6;}


    /*PADDING TOP*/

    .p#{$value}-t-02 { padding-top: $spacer * 0.2;}
    .p#{$value}-t-03 { padding-top: $spacer * 0.3;}
    .p#{$value}-t-04 { padding-top: $spacer * 0.4;}
    .p#{$value}-t-05 { padding-top: $spacer * 0.5;}

    .p#{$value}-t-0 { padding-top: 0;}
    .p#{$value}-t-1 { padding-top: $spacer ;}
    .p#{$value}-t-2 { padding-top: $spacer * 2;}
    .p#{$value}-t-3 { padding-top: $spacer * 3;}
    .p#{$value}-t-4 { padding-top: $spacer * 4;}
    .p#{$value}-t-5 { padding-top: $spacer * 5;}
    .p#{$value}-t-6 { padding-top: $spacer * 6;}


    /*PADDING LEFT*/
    .p#{$value}-l-default { padding-left: 8px;}

    .p#{$value}-l-02 { padding-left: $spacer * 0.2;}
    .p#{$value}-l-03 { padding-left: $spacer * 0.3;}
    .p#{$value}-l-04 { padding-left: $spacer * 0.4;}
    .p#{$value}-l-05 { padding-left: $spacer * 0.5;}

    .p#{$value}-l-0 { padding-left: 0;}
    .p#{$value}-l-1 { padding-left: $spacer ;}
    .p#{$value}-l-2 { padding-left: $spacer * 2;}
    .p#{$value}-l-3 { padding-left: $spacer * 3;}
    .p#{$value}-l-4 { padding-left: $spacer * 4;}
    .p#{$value}-l-5 { padding-left: $spacer * 5;}
    .p#{$value}-l-6 { padding-left: $spacer * 6;}


    /*PADDING RIGHT*/
    .p#{$value}-r-default { padding-right: 8px;}

    .p#{$value}-r-02 { padding-right: $spacer * 0.2;}
    .p#{$value}-r-03 { padding-right: $spacer * 0.3;}
    .p#{$value}-r-04 { padding-right: $spacer * 0.4;}
    .p#{$value}-r-05 { padding-right: $spacer * 0.5;}

    .p#{$value}-r-0 { padding-right: 0;}
    .p#{$value}-r-1 { padding-right: $spacer ;}
    .p#{$value}-r-2 { padding-right: $spacer * 2;}
    .p#{$value}-r-3 { padding-right: $spacer * 3;}
    .p#{$value}-r-4 { padding-right: $spacer * 4;}
    .p#{$value}-r-5 { padding-right: $spacer * 5;}
    .p#{$value}-r-6 { padding-right: $spacer * 6;}


    /* WIDTH & HEIGHT START*/

    .full-screen#{$value} {
      width: 100vw;
      height: 100vh;
    }

    .h#{$value}-100vh {height: 100vh;}

    .w#{$value}-100 {width: 100%;}

    /* WIDTH & HEIGHT END*/


    /*USER SELECTION START*/

    .no-select#{$value}{
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .all-select#{$value}{
      -webkit-user-select: all;
      -moz-user-select: all;
      -ms-user-select: all;
      user-select: all;
    }

    /*USER SELECTION END*/


    /*POSITION START*/

    .p#{$value}-absolute {position: absolute;}
    .p#{$value}-relative {position: relative;}
    .p#{$value}-fixed {position: fixed;}

    /*POSITION END*/


    /*BACKGROUND START*/

    .bg#{$value}-cover-center {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .bg#{$value}-contain-center {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .bg#{$value}-cover {
      background-size: cover;
    }

    .bg#{$value}-contain {
      background-size: contain;
    }

    .bg#{$value}-center-center {
      background-position: center center;
    }

    /*BACKGROUND END*/


    /*TEXT START*/
    .text#{$value}-center {text-align: center;}
    .text#{$value}-right {text-align: right;}
    .text#{$value}-left {text-align: left;}
    .text#{$value}-justify {text-align: justify;}
    /*TEXT END*/

    /*OVERFLOW START*/
    .overflow-#{$value}-hidden {overflow: hidden;}
    .overflow-#{$value}-x-hidden {overflow-x: hidden;}
    .overflow-#{$value}-y-hidden {overflow-x: hidden;}

    .overflow-#{$value}-visible {overflow: visible;}
    .overflow-#{$value}-x-visible {overflow-x: visible;}
    .overflow-#{$value}-y-visible {overflow-y: visible;}
    /*OVERFLOW END*/



  }
}

@include responsive(-lg, $lg-max);
@include responsive(-md, $md-max);
@include responsive(-sm, $sm-max);
@include responsive(-xs, $xs-max);


.pointer-none {
  pointer-events: none;
}



/* BACKGROUND TEMPLATES START */
.bg-red {background-color: red !important;}
.bg-blue {background-color: blue !important;}
.bg-yellow {background-color: yellow !important;}
.bg-primary {background-color: $brand-color-primary;}
.bg-white {background-color: white;}
.bg-grey {background-color: #F7F7F7};


.bg-no-repeat {
  background-repeat: no-repeat;
}


.bg-blend {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.layer-0 {z-index: 0;}
.layer-25 {z-index: 25;}
.layer-50 {z-index: 50;}
.layer-100 {z-index: 100;}
/* BACKGROUND TEMPLATES END */

/* FONT BASE START */
.font-700 {font-weight: 700;}
.font-500 {font-weight: 500;}
.font-400 {font-weight: 400;}
.font-300 {font-weight: 300;}
.font-primary {font-family: $brand-primary-font;}
.font-secondary {font-family: $brand-primary-font;}

.text-white {color: white;}
.text-primary {color: $brand-color-primary;}
.text-gray {color: $gray;}
.text-secondary {color: $brand-color-secondary;}
.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}

.a-deco-none {text-decoration: none;}
a.link-white  { color: white}
/* FONT BASE END */



/* FLEXBOX BOOTSTRAP*/
.f-grow-0 {flex-grow: 0;}

.flex-row {
  -ms-flex-direction: row ;
      flex-direction: row ;
}

.flex-column {
  -ms-flex-direction: column ;
      flex-direction: column ;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse ;
      flex-direction: row-reverse ;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse ;
      flex-direction: column-reverse ;
}

.flex-wrap {
  -ms-flex-wrap: wrap ;
      flex-wrap: wrap ;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap ;
      flex-wrap: nowrap ;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse ;
      flex-wrap: wrap-reverse ;
}

.justify-content-start {
  -ms-flex-pack: start ;
      justify-content: flex-start ;
}

.justify-content-end {
  -ms-flex-pack: end ;
      justify-content: flex-end ;
}

.justify-content-center {
  -ms-flex-pack: center ;
      justify-content: center ;
}

.justify-content-between {
  -ms-flex-pack: justify ;
      justify-content: space-between ;
}

.justify-content-around {
  -ms-flex-pack: distribute ;
      justify-content: space-around ;
}

.align-items-start {
  -ms-flex-align: start ;
      align-items: flex-start ;
}

.align-items-end {
  -ms-flex-align: end ;
      align-items: flex-end ;
}

.align-items-center {
  -ms-flex-align: center ;
      align-items: center ;
}

.align-items-baseline {
  -ms-flex-align: baseline ;
      align-items: baseline ;
}

.align-items-stretch {
  -ms-flex-align: stretch ;
      align-items: stretch ;
}

.align-content-start {
  -ms-flex-line-pack: start ;
      align-content: flex-start ;
}

.align-content-end {
  -ms-flex-line-pack: end ;
      align-content: flex-end ;
}

.align-content-center {
  -ms-flex-line-pack: center ;
      align-content: center ;
}

.align-content-between {
  -ms-flex-line-pack: justify ;
      align-content: space-between ;
}

.align-content-around {
  -ms-flex-line-pack: distribute ;
      align-content: space-around ;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch ;
      align-content: stretch ;
}

.align-self-auto {
  -ms-flex-item-align: auto ;
      align-self: auto ;
}

.align-self-start {
  -ms-flex-item-align: start ;
      align-self: flex-start ;
}

.align-self-end {
  -ms-flex-item-align: end ;
      align-self: flex-end ;
}

.align-self-center {
  -ms-flex-item-align: center ;
      align-self: center ;
}

.align-self-baseline {
  -ms-flex-item-align: baseline ;
      align-self: baseline ;
}

.align-self-stretch {
  -ms-flex-item-align: stretch ;
      align-self: stretch ;
}



/* DISPLAY */

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.flex-first {
  order: -1;
}

.flex-last {
  order: 1;
}

.flex-unordered {
  order: 0;
}

@mixin flex-order($value, $size-var) {
  @media (max-width: $size-var) {

    .flex#{$value}-first {
      order: -1;
    }

    .flex#{$value}-last {
      order: 1;
    }

    .flex#{$value}-unordered {
      order: 0;
    }
  }
}

@include flex-order(-lg, $lg-max);
@include flex-order(-md, $md-max);
@include flex-order(-sm, $sm-max);
@include flex-order(-xs, $xs-max);


@media (max-width: $lg-max) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}


@media (max-width: $md-max) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}







@media (max-width: $sm-max) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}





@media (max-width: $xs-max) {
  .d-xs-none {
    display: none !important;
  }
  .d-xs-inline {
    display: inline !important;
  }
  .d-xs-inline-block {
    display: inline-block !important;
  }
  .d-xs-block {
    display: block !important;
  }
  .d-xs-table {
    display: table !important;
  }
  .d-xs-table-row {
    display: table-row !important;
  }
  .d-xs-table-cell {
    display: table-cell !important;
  }
  .d-xs-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xs-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

/* DISPLAY END */



@media (max-width: $lg-max) {
  .flex-lg-row {
    -ms-flex-direction: row ;
        flex-direction: row ;
  }
  .flex-lg-column {
    -ms-flex-direction: column ;
        flex-direction: column ;
  }
  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse ;
        flex-direction: row-reverse ;
  }
  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse ;
        flex-direction: column-reverse ;
  }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap ;
        flex-wrap: wrap ;
  }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap ;
        flex-wrap: nowrap ;
  }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse ;
        flex-wrap: wrap-reverse ;
  }
  .justify-content-lg-start {
    -ms-flex-pack: start ;
        justify-content: flex-start ;
  }
  .justify-content-lg-end {
    -ms-flex-pack: end ;
        justify-content: flex-end ;
  }
  .justify-content-lg-center {
    -ms-flex-pack: center ;
        justify-content: center ;
  }
  .justify-content-lg-between {
    -ms-flex-pack: justify ;
        justify-content: space-between ;
  }
  .justify-content-lg-around {
    -ms-flex-pack: distribute ;
        justify-content: space-around ;
  }
  .align-items-lg-start {
    -ms-flex-align: start ;
        align-items: flex-start ;
  }
  .align-items-lg-end {
    -ms-flex-align: end ;
        align-items: flex-end ;
  }
  .align-items-lg-center {
    -ms-flex-align: center ;
        align-items: center ;
  }
  .align-items-lg-baseline {
    -ms-flex-align: baseline ;
        align-items: baseline ;
  }
  .align-items-lg-stretch {
    -ms-flex-align: stretch ;
        align-items: stretch ;
  }
  .align-content-lg-start {
    -ms-flex-line-pack: start ;
        align-content: flex-start ;
  }
  .align-content-lg-end {
    -ms-flex-line-pack: end ;
        align-content: flex-end ;
  }
  .align-content-lg-center {
    -ms-flex-line-pack: center ;
        align-content: center ;
  }
  .align-content-lg-between {
    -ms-flex-line-pack: justify ;
        align-content: space-between ;
  }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute ;
        align-content: space-around ;
  }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch ;
        align-content: stretch ;
  }
  .align-self-lg-auto {
    -ms-flex-item-align: auto ;
        align-self: auto ;
  }
  .align-self-lg-start {
    -ms-flex-item-align: start ;
        align-self: flex-start ;
  }
  .align-self-lg-end {
    -ms-flex-item-align: end ;
        align-self: flex-end ;
  }
  .align-self-lg-center {
    -ms-flex-item-align: center ;
        align-self: center ;
  }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline ;
        align-self: baseline ;
  }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch ;
        align-self: stretch ;
  }
}



@media (max-width: $md-max) {
  .flex-md-row {
    -ms-flex-direction: row ;
        flex-direction: row ;
  }
  .flex-md-column {
    -ms-flex-direction: column ;
        flex-direction: column ;
  }
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse ;
        flex-direction: row-reverse ;
  }
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse ;
        flex-direction: column-reverse ;
  }
  .flex-md-wrap {
    -ms-flex-wrap: wrap ;
        flex-wrap: wrap ;
  }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap ;
        flex-wrap: nowrap ;
  }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse ;
        flex-wrap: wrap-reverse ;
  }
  .justify-content-md-start {
    -ms-flex-pack: start ;
        justify-content: flex-start ;
  }
  .justify-content-md-end {
    -ms-flex-pack: end ;
        justify-content: flex-end ;
  }
  .justify-content-md-center {
    -ms-flex-pack: center ;
        justify-content: center ;
  }
  .justify-content-md-between {
    -ms-flex-pack: justify ;
        justify-content: space-between ;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute ;
        justify-content: space-around ;
  }
  .align-items-md-start {
    -ms-flex-align: start ;
        align-items: flex-start ;
  }
  .align-items-md-end {
    -ms-flex-align: end ;
        align-items: flex-end ;
  }
  .align-items-md-center {
    -ms-flex-align: center ;
        align-items: center ;
  }
  .align-items-md-baseline {
    -ms-flex-align: baseline ;
        align-items: baseline ;
  }
  .align-items-md-stretch {
    -ms-flex-align: stretch ;
        align-items: stretch ;
  }
  .align-content-md-start {
    -ms-flex-line-pack: start ;
        align-content: flex-start ;
  }
  .align-content-md-end {
    -ms-flex-line-pack: end ;
        align-content: flex-end ;
  }
  .align-content-md-center {
    -ms-flex-line-pack: center ;
        align-content: center ;
  }
  .align-content-md-between {
    -ms-flex-line-pack: justify ;
        align-content: space-between ;
  }
  .align-content-md-around {
    -ms-flex-line-pack: distribute ;
        align-content: space-around ;
  }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch ;
        align-content: stretch ;
  }
  .align-self-md-auto {
    -ms-flex-item-align: auto ;
        align-self: auto ;
  }
  .align-self-md-start {
    -ms-flex-item-align: start ;
        align-self: flex-start ;
  }
  .align-self-md-end {
    -ms-flex-item-align: end ;
        align-self: flex-end ;
  }
  .align-self-md-center {
    -ms-flex-item-align: center ;
        align-self: center ;
  }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline ;
        align-self: baseline ;
  }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch ;
        align-self: stretch ;
  }
}





@media (max-width: $sm-max) {
  .flex-sm-row {
    -ms-flex-direction: row ;
        flex-direction: row ;
  }
  .flex-sm-column {
    -ms-flex-direction: column ;
        flex-direction: column ;
  }
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse ;
        flex-direction: row-reverse ;
  }
  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse ;
        flex-direction: column-reverse ;
  }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap ;
        flex-wrap: wrap ;
  }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap ;
        flex-wrap: nowrap ;
  }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse ;
        flex-wrap: wrap-reverse ;
  }
  .justify-content-sm-start {
    -ms-flex-pack: start ;
        justify-content: flex-start ;
  }
  .justify-content-sm-end {
    -ms-flex-pack: end ;
        justify-content: flex-end ;
  }
  .justify-content-sm-center {
    -ms-flex-pack: center ;
        justify-content: center ;
  }
  .justify-content-sm-between {
    -ms-flex-pack: justify ;
        justify-content: space-between ;
  }
  .justify-content-sm-around {
    -ms-flex-pack: distribute ;
        justify-content: space-around ;
  }
  .align-items-sm-start {
    -ms-flex-align: start ;
        align-items: flex-start ;
  }
  .align-items-sm-end {
    -ms-flex-align: end ;
        align-items: flex-end ;
  }
  .align-items-sm-center {
    -ms-flex-align: center ;
        align-items: center ;
  }
  .align-items-sm-baseline {
    -ms-flex-align: baseline ;
        align-items: baseline ;
  }
  .align-items-sm-stretch {
    -ms-flex-align: stretch ;
        align-items: stretch ;
  }
  .align-content-sm-start {
    -ms-flex-line-pack: start ;
        align-content: flex-start ;
  }
  .align-content-sm-end {
    -ms-flex-line-pack: end ;
        align-content: flex-end ;
  }
  .align-content-sm-center {
    -ms-flex-line-pack: center ;
        align-content: center ;
  }
  .align-content-sm-between {
    -ms-flex-line-pack: justify ;
        align-content: space-between ;
  }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute ;
        align-content: space-around ;
  }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch ;
        align-content: stretch ;
  }
  .align-self-sm-auto {
    -ms-flex-item-align: auto ;
        align-self: auto ;
  }
  .align-self-sm-start {
    -ms-flex-item-align: start ;
        align-self: flex-start ;
  }
  .align-self-sm-end {
    -ms-flex-item-align: end ;
        align-self: flex-end ;
  }
  .align-self-sm-center {
    -ms-flex-item-align: center ;
        align-self: center ;
  }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline ;
        align-self: baseline ;
  }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch ;
        align-self: stretch ;
  }
}


@media (max-width: $xs-max) {
  .flex-xs-row {
    -ms-flex-direction: row ;
        flex-direction: row ;
  }
  .flex-xs-column {
    -ms-flex-direction: column ;
        flex-direction: column ;
  }
  .flex-xs-row-reverse {
    -ms-flex-direction: row-reverse ;
        flex-direction: row-reverse ;
  }
  .flex-xs-column-reverse {
    -ms-flex-direction: column-reverse ;
        flex-direction: column-reverse ;
  }
  .flex-xs-wrap {
    -ms-flex-wrap: wrap ;
        flex-wrap: wrap ;
  }
  .flex-xs-nowrap {
    -ms-flex-wrap: nowrap ;
        flex-wrap: nowrap ;
  }
  .flex-xs-wrap-reverse {
    -ms-flex-wrap: wrap-reverse ;
        flex-wrap: wrap-reverse ;
  }
  .justify-content-xs-start {
    -ms-flex-pack: start ;
        justify-content: flex-start ;
  }
  .justify-content-xs-end {
    -ms-flex-pack: end ;
        justify-content: flex-end ;
  }
  .justify-content-xs-center {
    -ms-flex-pack: center ;
        justify-content: center ;
  }
  .justify-content-xs-between {
    -ms-flex-pack: justify ;
        justify-content: space-between ;
  }
  .justify-content-xs-around {
    -ms-flex-pack: distribute ;
        justify-content: space-around ;
  }
  .align-items-xs-start {
    -ms-flex-align: start ;
        align-items: flex-start ;
  }
  .align-items-xs-end {
    -ms-flex-align: end ;
        align-items: flex-end ;
  }
  .align-items-xs-center {
    -ms-flex-align: center ;
        align-items: center ;
  }
  .align-items-xs-baseline {
    -ms-flex-align: baseline ;
        align-items: baseline ;
  }
  .align-items-xs-stretch {
    -ms-flex-align: stretch ;
        align-items: stretch ;
  }
  .align-content-xs-start {
    -ms-flex-line-pack: start ;
        align-content: flex-start ;
  }
  .align-content-xs-end {
    -ms-flex-line-pack: end ;
        align-content: flex-end ;
  }
  .align-content-xs-center {
    -ms-flex-line-pack: center ;
        align-content: center ;
  }
  .align-content-xs-between {
    -ms-flex-line-pack: justify ;
        align-content: space-between ;
  }
  .align-content-xs-around {
    -ms-flex-line-pack: distribute ;
        align-content: space-around ;
  }
  .align-content-xs-stretch {
    -ms-flex-line-pack: stretch ;
        align-content: stretch ;
  }
  .align-self-xs-auto {
    -ms-flex-item-align: auto ;
        align-self: auto ;
  }
  .align-self-xs-start {
    -ms-flex-item-align: start ;
        align-self: flex-start ;
  }
  .align-self-xs-end {
    -ms-flex-item-align: end ;
        align-self: flex-end ;
  }
  .align-self-xs-center {
    -ms-flex-item-align: center ;
        align-self: center ;
  }
  .align-self-xs-baseline {
    -ms-flex-item-align: baseline ;
        align-self: baseline ;
  }
  .align-self-xs-stretch {
    -ms-flex-item-align: stretch ;
        align-self: stretch ;
  }
}


/* FLEXBOX BOOTSTRAP END*/
