$spacer: 1rem;

$light-gray: #E4E4E4;
$gray: #B0B0B0;
$dark-gray: #292929;

$brand-color-primary: #272343;
$brand-color-secondary: #F45D48;
$brand-color-tertiary: #078080;
$brand-color-soft: #F8F5F2;

$brand-color-secondary-darker: #E65744;

$alarm-color: #ff7062;

$border-radius-small: 6px;
$border-radius-default: 8px;
$border-radius-large: 12px;

$anchor-offset: 60px;

//font-size
$font-size-xs: 1rem;      // 16px
$font-size-s: 1.125rem;   // 18px
$font-size-m: 1.25rem;    // 20px
$font-size-l: 1.375rem;   // 22px
$font-size-xl: 1.5rem;    // 24px
$font-size-2xl: 1.75rem;  // 30px
$font-size-3xl: 2.25rem;  // 36px
$font-size-4xl: 2.75rem;  // 44px

//header
$header-height: 100px;
$header-shrink-height: 80px;
$header-mobile-height: 80px;

//mixin

@mixin bg-pattern {
    background-image: url('/assets/images/bg-pattern.svg');
    background-size: 1150px;
    background-position: center;
}

@mixin bg-pattern--strong {
    background-image: url('/assets/images/bg-pattern--strong.svg');
    background-size: 1150px;
    background-position: center;
}


