<template>
  <Layout>
    <Section id="wir-liefern-fuer-sie" bgBeige bgPattern stage animate-river>
      <CardIntro></CardIntro>

      <showMoreCardGrid :initial-cards="6" :cards-to-load="6" :cards="$page.allWordPressPost.edges" />

    </Section>
    <Section>
      <ColGrid>
        <template v-slot:colLeft>
          <h2 class="headline--2">Gemeinsam halten wir zusammen</h2>
        </template>
        <template v-slot:colRight>
          <richtext class="richtext__adjustment">
            <p>Geschäfte & Restaurants in Barsinghausen sollen auch in Zukunft weiterhin bestehen bleiben. Dies kann aber nur gewährleistet werden, wenn wir uns in dieser schweren Zeit gegenseitig unterstützen und zusammenhalten.</p>
            <p>Auf dieser Seite finden Sie eine Ansammlung von Händlern aus der Umgebung, die bereit sind, zu Ihnen nach Hause zu liefern. Sie unterstützen damit den regionalen Einzelhandel und tragen dazu bei, dass auch in Zukunft diese Geschäfte erhalten bleiben.</p>
          </richtext>
        </template>
      </ColGrid>
    </Section>
    <Section bgGreen bgPattern animate-waterfall>
      <ColGrid center>
        <template v-slot:colLeft>
          <h2 class="headline--2 disturber--headline">Sie haben ein inhabergeführtes Geschäft in Barsinghausen und können liefern?</h2>
        </template>
      </ColGrid>
      <ColGrid center>
        <template v-slot:colLeft>
          <Button link="https://sebastian404738.typeform.com/to/IKTwKuRY" variant="primary" icon="arrow-right" class="m-t-2" >Tragen Sie sich ein</Button>
        </template>
      </ColGrid>
    </Section>
    <Section id="so-funktionierts">
      <ColGrid col-left-small>
        <template v-slot:colLeft>
          <h4 class="headline--4">Wie funktioniert’s?</h4>
        </template>
        <template v-slot:colRight>
          <richtext class="richtext__adjustment">
            <p> Suchen Sie sich einen Händler aus, kontaktieren Sie ihn per Telefon, E-Mail oder besuchen Sie seine Website und bestellen Sie Ihre Wunsch-Ware. </p>
          </richtext> 
        </template>
      </ColGrid> 
      <ColGrid col-left-small class="m-t-4">
        <template v-slot:colLeft>
          <h4 class="headline--4">Wie kann ich etwas bestellen?</h4>
        </template>
        <template v-slot:colRight>
          <richtext class="richtext__adjustment">
            <p> Eine Bestellung kann auf folgenden Wegen erfolgen: </p>
          </richtext> 
          <ItemTextList checklist class="richtext__adjustment">
            <li>
              <Icon class="item-text-list__icon" icon="checkmark" color="secondary" />
              <span class="item-text-list__text">per Telefon</span>
            </li>
            <li>
              <Icon class="item-text-list__icon" icon="checkmark" color="secondary" />
              <span class="item-text-list__text">per Mail</span>
            </li>
            <li>
              <Icon class="item-text-list__icon" icon="checkmark" color="secondary" />
              <span class="item-text-list__text">Online-Shop</span>
            </li>
            <li>
              <Icon class="item-text-list__icon" icon="checkmark" color="secondary" />
              <span class="item-text-list__text">über Social Media Kanäle</span>
            </li>
        </ItemTextList>
        </template>
      </ColGrid> 
      <ColGrid col-left-small class="m-t-4">
        <template v-slot:colLeft>
          <h4 class="headline--4">Wie bezahle ich?</h4>
        </template>
        <template v-slot:colRight>
          <Richtext class="richtext__adjustment">
            <p> Der Bezahlvorgang kann von Unternehmer zu Unternehmer unterschiedlich sein. Bitte sprechen Sie dies mit dem jeweiligen Händler ab. </p>
          </Richtext> 
        </template>
      </ColGrid>    
    </Section>
  </Layout>
</template>

<page-query>
query Home {
  allWordPressPost {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        acf {
          category
          adress
          openingHours
          phone
          email
          website
          socials {
            type
            link
          }
          notes
        }
      }
    }
  }
}
</page-query>

<script>
import Section from "~/components/Section.vue";
import Button from "~/components/Button.vue";
import ColGrid from "~/components/ColGrid.vue";
import CardIntro from "~/components/CardIntro.vue";
import Richtext from "~/components/Richtext.vue";
import ItemTextList from "~/components/ItemTextList.vue";
import Icon from "~/components/Icon.vue";
import showMoreCardGrid from "~/components/showMoreCardGrid.vue";

export default {
  components: {
    Section,
    Button,
    ColGrid,
    CardIntro,
    Richtext,
    ItemTextList,
    Icon,
    showMoreCardGrid
  },
  metaInfo: {
    title: "Home"
  },
  mounted () {
    this.hasScrollbar();
  },
  methods: {
    test(){
      console.log('asdasd');
      this.$eventBus.$emit('test');
    },
    hasScrollbar() {
      const scrollbarTester = document.createElement('div');
      scrollbarTester.classList.add('scrollbar-test');
      
      scrollbarTester.style.top = '0';
      scrollbarTester.style.position = 'absolute';
      scrollbarTester.style.visibility = 'hidden';
      scrollbarTester.style.pointerEvents = 'none';
      scrollbarTester.style.overflow = 'scroll';
      
      document.body.appendChild(scrollbarTester);
      const scrollbarWidth = scrollbarTester.offsetWidth - scrollbarTester.clientWidth;
      scrollbarTester.remove;
      if (scrollbarWidth > 0) {
        window.hasScrollbar = true;
        document.body.classList.remove('no-scrollbar');
      } else {
        window.hasScrollbar = false;
        document.body.classList.add('no-scrollbar');
      }
    }
  }
};
</script>

<style lang="scss">
  .disturber--headline {
    color: white;
    text-align: center;
    max-width: 1080px;
    padding: 0 2rem;
  }

  .richtext__adjustment {
    margin-top: 13px;
  }
</style>