<template>
  <Layout>
    <h1>UI-Kit</h1>
    <section class="ui_kit-section">
        <h2 class="ui_kit-section__headline">Buttons</h2>
        <div class="ui_kit-section__item">
            <Button 
                link="www.google.de" 
                variant="primary" 
                icon="arrow-right"
            >
            Button primary
            </Button>
        </div>
        <div class="ui_kit-section__item">
            <Button 
                link="www.google.de" 
                variant="primary" 
            >
            Button primary
            </Button>
        </div>
        <div class="ui_kit-section__item">
            <Button 
                link="www.google.de" 
                variant="primary"
                element="button"
            >
            Button as button
            </Button>
        </div>
        <div class="ui_kit-section__item">
            <Button 
                link="www.google.de" 
                variant="secondary" 
            >
            Button secondary
            </Button>
        </div>
        <div class="ui_kit-section__item">
            <Button 
                link="www.google.de" 
                variant="secondary" 
                icon="arrow-left" 
                icon-before
            >
            Button icon left
            </Button>
        </div>
        <div class="ui_kit-section__item">
            <Button 
                    link="www.google.de" 
                    variant="secondary" 
                    icon="arrow-right" 
            >
            Button icon right
            </Button>
        </div>
    </section>
  </Layout>
</template>

<page-query>

</page-query>

<script>
import Button from '~/components/Button.vue'

export default {
  components: {
    Button
  },
  metaInfo: {
    title: 'UI-Kit'
  }
}
</script>

<style lang="scss">
.ui_kit-section {
    &__item {
        margin-bottom: 2rem;
    }
}
</style>
