<template>
  <a
    class="btn"
    :is="element"
    :class="[
      {'btn--primary': variant === 'primary'}, 
      {'btn--secondary': variant === 'secondary'},
      {'btn--icon-before': iconBefore},
      {'btn--w-100': w100},
      {'btn--h-100': h100},
      {'btn--no-border-radius': noBorderRadius},
      {'btn--btn-padding': btnPadding},
    ]"
    :href="link"
    :target="target"
  >
    <span><slot /></span>
    <Icon class="btn__icon" v-if="icon" :icon="icon" :color="iconColor"/>
  </a>
</template>


<script>
import Icon from '~/components/Icon.vue'

export default {
  components: {
    Icon
  },
  props: {
      element: {
        type: String,
        default: 'a'
      },
      link: {
        type: String,
        default: ''
      },
      target: {
        type: String,
        default: ''
      },
      icon: {
        type: String,
        default: ''
      },
      colorOfIcon: {
        type: String,
        default: ''
      },
      iconBefore: {
        type: Boolean,
        default: false
      },
      variant: {
        type: String,
        default: ''
      },
      size: {
        type: String,
        default: ''
      },
      w100: {
        type: Boolean,
        default: false
      },
      h100: {
        type: Boolean,
        default: false
      },
      noBorderRadius: {
        type: Boolean,
        default: false
      },
      btnPadding: {
        type: Boolean,
        default: false
      },
  },
  data() {
    return {
      
    }
  },
  computed: {
    iconColor () {
      if (this.colorOfIcon) {
        return this.colorOfIcon;
      } else if (this.variant === 'primary') {
        return 'white';
      } else if (this.variant === 'secondary') {
        return 'primary';
      }
    }
  },
  mounted() {

  }
}
</script>

<style lang="scss">
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

    .btn__icon {
      margin-left: .5rem;
    }

    &--primary {
      height: 80px;
      padding: 0 2.5rem;
      border-radius: $border-radius-small;
      background-color: $brand-color-secondary;
      color: white;
      transition: .2s ease;
      
      &:focus, &:hover, &:active, &:visited {
        box-shadow: 0 8px 24px -4px rgba(116, 36, 26, 0.3);
        transform: translateY(-4px);
        color: white;
      }
    }
    
    &--secondary {
      color: $brand-color-primary;
      transition: .2s ease;

      span {
        display: flex;
        align-items: center;
      }

      .btn__icon svg path {
        transition: .2s ease;
      }

      &:hover {
        color: $brand-color-secondary;

        .btn__icon svg path {
          fill: $brand-color-secondary;
        }
      }
    }

    &--icon-before {
      .btn__icon {
        order: -1;
        margin: 0 .5rem 0 0;
      }
    }

    &--w-100 {
      min-width: 100%;
    }

    &--h-100 {
      height: 100%;
    }

    &--no-border-radius {
      border-radius: 0;
    }

    &--btn-padding {
      padding: 0 2.5rem;
    }
  }

</style>
