<template>
<!-- JUST EXAMPLE HTML --->
  <div class="card-detail">
    <div class="card-detail__inner">
      <header class="card-detail__header">
        <h3 class="card-detail__headline headline headline--3" v-html="card.node.title"></h3>
        <span class="card-detail__subline" v-html="card.node.acf.category"></span>
      </header>
      <main class="card-detail__main">
        <div class="card-detail__itemlist">
          <ItemTextList>
            <li class="headliine headline--6">Standort</li>
            <li v-if="card.node.acf.adress">
              <Icon class="item-text-list__icon" icon="location-pin" color="secondary" />
              <span class="item-text-list__text" v-html="card.node.acf.adress">
              </span>
            </li>
            <li v-if="card.node.acf.openingHours">
              <Icon class="item-text-list__icon" icon="phone" color="secondary" />
              <span class="item-text-list__text" v-html="card.node.acf.openingHours">
              </span>
            </li>
          </ItemTextList>
          <ItemTextList>
            <li class="headliine headline--6">Kontakt</li>
            <li v-if="card.node.acf.phone">
              <Icon class="item-text-list__icon" icon="phone" color="secondary" />
              <a class="item-text-list__text" :href="`tel:${card.node.acf.phone}`">{{ card.node.acf.phone }}</a>
            </li>
            <li v-if="card.node.acf.email">
              <Icon class="item-text-list__icon" icon="mail" color="secondary" />
              <a class="item-text-list__text link" :href="`mailto:${card.node.acf.email}`">{{ card.node.acf.email }}</a>
            </li>
            <li v-if="card.node.acf.website">
              <Icon class="item-text-list__icon" icon="website" color="secondary" />
              <a class="item-text-list__text link" :href="`http://www.${card.node.acf.website}`">{{ card.node.acf.website }}</a>
            </li>
          </ItemTextList>
          <ItemTextList v-if="card.node.acf.socials.length > 0">
            <li class="headliine headline--6">Social</li>
            <li>
              <div class="social-icons">
                <g-link v-for="(social, index) in card.node.acf.socials" :key="index" :to="social.link">
                  <Icon class="item-text-list__icon support-icon" title="Link kopieren" :icon="social.type" color="secondary" />
                </g-link>
              </div>
            </li>
          </ItemTextList>
        </div>
        <div v-if="card.node.acf.notes" class="description">
          <h3 class="headliine headline--5">Anmerkungen vom Händler</h3>
          <span v-html="card.node.acf.notes"></span>
        </div>
      </main>
    </div>
  </div>
</template>


<script>
import Icon from '~/components/Icon.vue'
import ItemTextList from '~/components/ItemTextList.vue'

export default {
  components: {
    Icon,
    ItemTextList,
  },
  props: {
    card: {
        type: Object,
        default: {}
    },
  },
  data() {
    return {

    };
  },
  computed: {},
  mounted() {

  },
  methods: {

  }
};
</script>

<style lang="scss">
.card-detail {
  &__inner {

  }

  &__header {
    margin-bottom: 3.5rem;
  }

  &__headline {
    line-height: 1.2;
    margin-bottom: .5rem;
    
    @media (max-width: $sm-max) {
      padding-top: 1.5rem;
    }
  }

  &__subline {
    font-size: $font-size-m;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: $gray;

  }

  &__main {

  }

  &__itemlist {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 1rem;
    background-color: $brand-color-soft;
    padding: 2.5rem;
    margin-bottom: 3.5rem;
    border-radius: $border-radius-default;
    @include bg-pattern;

    @media (max-width: $sm-max){
      grid-template-columns: 1fr;
    }

    ul {
      li {
        margin-bottom: 1rem;
        &.headline {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  .description {
    padding-bottom: 4rem;

    h3 {
      margin: 0 0 1rem 0;
    }
    p {
      margin-bottom: 1rem;

      &:last-child {
        margin: 0;
      }
    }
  }
}
</style>
