<template>
  <div class="card-grid">
      <slot />
  </div>
</template>


<script>
export default {
  components: {

  },
  props: {
  },
  data() {
    return {};
  },
  computed: {},
  mounted() {}
};
</script>

<style lang="scss">
.card-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, 405px);
    grid-gap: 1.5rem;
    justify-content: center;
    margin-bottom: 4rem;

    @media (max-width: $xs-max) {
        grid-template-columns: repeat(auto-fill, 100%);
    } 
}
</style>
