<template>
  <div class="card">
    <div class="card__inner">
      <header class="card__header">
        <h3
          ref="textSlideTrack"
          class="card__headline headline headline--6"
          :class="[{'card__headline--slide': cardHeadlineSlide}]"
        >
          <span ref="textSlide" v-html="card.node.title"></span>
        </h3>
        <span class="card__subline" v-html="card.node.acf.category"></span>
      </header>
      <main class="card__main">
        <ItemTextList>
          <li>
            <Icon class="item-text-list__icon" icon="location-pin" color="secondary" />
            <span class="item-text-list__text" v-html="card.node.acf.adress">
            </span>
          </li>
          <li>
            <Icon class="item-text-list__icon" icon="phone" color="secondary" />
            <a class="item-text-list__text" :href="`tel:${card.node.acf.phone}`">{{ card.node.acf.phone }}</a>
          </li>
          <li>
            <Icon class="item-text-list__icon" icon="mail" color="secondary" />
            <a class="item-text-list__text link" :href="`mailto:${card.node.acf.email}`">{{ card.node.acf.email }}</a>
          </li>
        </ItemTextList>
      </main>
    </div>
    <footer class="card__footer">
      <Button 
        class="card__footer__button"
        element="button"
        variant="secondary"
        @click.native="$eventBus.$emit('open-modal-card-slider', cardIndex)"
      >
        Details
        <Icon class="item-text-list__icon" icon="arrow-right" color="white" />
      </Button>
      <Button
        class="card__footer__button"
        :link="`http://www.${card.node.acf.website}`"
        variant="secondary" 
      >
        Website 
        <Icon class="item-text-list__icon" icon="arrow-right" color="white" />
      </Button>
    </footer>
  </div>
</template>


<script>
import Icon from '~/components/Icon.vue'
import Button from '~/components/Button.vue'
import ItemTextList from '~/components/ItemTextList.vue'

export default {
  components: {
    Icon,
    Button,
    ItemTextList
  },
  props: {
    element: {
      type: String,
      default: 'a'
    },
    card: {
      type: Object,
      default: {}
    },
    cardIndex: {
      type: Number,
      default: 1
    },
  },
  data() {
    return {
      cardHeadlineSlide: false,
    }
  },
  computed: {

  },
  mounted() {
    if (this.$refs.textSlideTrack.clientWidth < this.$refs.textSlide.clientWidth) {
      this.cardHeadlineSlide = true;
    } else {
      this.cardHeadlineSlide = false;
    }
  }
}
</script>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 405px;
    height: 405px;
    position: relative;
    background-color: white;
    border-radius: $border-radius-default;
    overflow: hidden;
    box-shadow: 0 24px 64px rgba(0,0,0,0.04);
    transition: .1s ease;

    &:hover {
      box-shadow: 0 24px 64px rgba(0,0,0,0.04), 0 0 0 5px rgba($brand-color-primary,0.05);
      cursor: pointer;

      .card__headline--slide {
        @media (min-width: $sm-max) {
          &::before {
            opacity: 1;
          }
  
          span {
            animation: text_slide 5s alternate linear;
            animation-iteration-count: infinite;
  
            @keyframes text_slide {
              from {transform: translateX(0);}
              to {transform: translateX(calc(341px - 100% - 20px));}
            }
          }
        }
      }
    }

    @media (max-width: $xs-max) { 
      height: auto;
      width: 100%;
    }


    &__inner {
      padding: 2rem;
    }

    &__headline {
      @media (min-width: $sm-max) {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        span {
          display: inline-block;
        }
      }
    }

    &__headline--slide {
      @media (min-width: $sm-max) {
        &::after, &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 40px;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        }

        &::before {
          right: auto;
          left: 0;
          transform: rotate(180deg);
          opacity: 0;
          transition: .5s;
          z-index: 1;
        }
      }
    }

    &__header {
      margin-bottom: 2rem;
    }

    &__subline {
      font-size: $font-size-xs;
      letter-spacing: .125rem;
      text-transform: uppercase;
      color: $gray;
    }

    &__main {
      background: transparent;
    }
    
    &__footer {
      display: flex;
      height: 64px;
      justify-content: space-around;
      align-items: center;

      &__button {
        width: 100%;
        height: 100%;
        position: relative;
        transition: .2s ease;
        background: white;
        padding-left: 2rem;
        border-top: 1px solid $light-gray;

        .item-text-list__icon {
          transform: translateX(-.25rem);
          transition: .2s .1s ease;
          opacity: 0;
          margin-right: 0;
        }

        &:hover {
          //background: rgba($brand-color-primary,.02);
          background: $brand-color-secondary;
          color: white;
        }

        &:nth-child(2)::before {
          content: '';
          position: absolute;
          left: 0;
          display: block;
          height: 100%;
          width: 1px;
          background-color: $light-gray;        
        }
      }
    }
  }
</style>
