<template>
  <div 
    class="cards-slider"
  >
    <div ref="sliderTrack" class="cards-slider__track">
      <CardDetail
        v-for="(card, index) in cards"
        :key="index"
        class="cards-slider__item" 
        :class="[
          {'cards-slider__item--active': index+1 == activeSlide},
          {'cards-slider__item--prev': index+1 == prevSlideNum},
          {'cards-slider__item--next': index+1 == nextSlideNum},
          {'cards-slider__item--no-slide-animation': noSlideAnimation}
        ]"
        :card="card"
      />

    </div>
    <footer class="cards-slider__footer">
      <Button 
        class="cards-slider__footer__button"
        element="button"
        variant="secondary"
        icon="arrow-left" 
        icon-before
        @click.native="prevSlide()"
      >
        Vorheriger Händler
      </Button>
      <Button
        class="cards-slider__footer__button"
        element="button"
        variant="secondary"
        icon="arrow-right" 
        icon-after
        @click.native="nextSlide()"
      >
        Nächster Händler 
      </Button>
    </footer>
  </div>
</template>


<script>
import { throttle } from 'lodash';

import CardDetail from "~/components/CardDetail.vue";
import Button from "~/components/Button.vue";

export default {
  components: {
    CardDetail,
    Button,
  },
  props: {
    name: {
      type: String,
      default: ''
    },
    cards: {
      type: Array,
      default: []
    },
  },
  data() {
    return {
      activeSlide: 1,
      cardLength: 5,
      noSlideAnimation: false,
    };
  },
  computed: {
    prevSlideNum() {
      if (this.activeSlide === 1) {
        return this.cardLength;
      } else {
        return this.activeSlide - 1;
      }
    },
    nextSlideNum() {
      if (this.activeSlide === this.cardLength) { 
        return 1;
      } else {
        return this.activeSlide + 1;
      }
    },
  },
  mounted() {
    this.$eventBus.$on(`open-modal-card-slider`, (index) => {this.openSlide(index)});
    this.cardLength = this.cards.length;
    this.touchSwipe();
  },
  methods: {
    openSlide(index) {
      this.activeSlide = index
      this.noSlideAnimation = true;
      setTimeout(()=>{
        this.noSlideAnimation = false;
      }, 200);
    },
    prevSlide(){
      if (this.activeSlide === 1) {
        this.activeSlide = this.cardLength;
      } else {
        this.activeSlide --
      }
    },
    nextSlide(){
      if (this.activeSlide === this.cardLength) { 
        this.activeSlide = 1;
      } else {
        this.activeSlide ++
      }
    },
    touchSwipe() {
      let touchStart;
      let touchMove;
      let $activeItem;
      
      this.$refs.sliderTrack.addEventListener('touchstart', (e) => {
        touchStart = e.touches[0].clientX;
        $activeItem = this.$el.querySelector('.cards-slider__item--active');
      });
      this.$refs.sliderTrack.addEventListener('touchmove', (e) => {
        touchMove = (e.touches[0].clientX - touchStart) / 2;
        touchMove = Math.round(touchMove)
        $activeItem.style.transform = `translate3d(${touchMove}px, 0, 0)`;
        $activeItem.style.transition = `0s`;
      });
      
      this.$refs.sliderTrack.addEventListener('touchend', (e) => {
        $activeItem.style = '';
        console.log('touchend');
        if (touchMove > 70) {
          this.prevSlide();
        } else if (touchMove < -70) {
          this.nextSlide();
        }
      });
    }
  }
};
</script>

<style lang="scss">
  .cards-slider {
    height: calc(100% - 192px);


    &__track {
      position: relative;
      margin-top: 5.75rem;
      height: 100%;

      @media (max-width: $sm-max) {
        margin-top: 0rem;
        overflow: hidden;
      }
    }

    &__item {
      display: none;
      position: absolute;
      top: 0;
      opacity: 0;
      padding: 0 5.75rem;
      transition: .8s ease;
      pointer-events: none;
      max-height: 100%;
      overflow: auto;
      scrollbar-width: 1px;

      @media (max-width: $sm-max) {
        padding: 0rem 1rem;
      }
      
      &::-webkit-scrollbar {
          display: none;
      }

      &--active {
        display: block;
        position: relative;
        opacity: 1;
        pointer-events: inherit;
        transition-delay: .3s;
        transform: translate3d(0, 0, 0);
      }

      &--prev {
        display: block;
        transform: translate3d(-100%, 0, 0);
      }

      &--next {
        display: block;
        transform: translate3d(100%, 0, 0);
      }

      &--no-slide-animation {
        transition: 0s;
      }
    }

    &__footer {
      display: flex;
      height: 100px;
      justify-content: space-around;
      align-items: center;
      bottom: 0;
      position: absolute;
      width: 100%;

      @media (max-width: $sm-max) {
        position: relative;
      }

      &__button {
        width: 100%;
        height: 100%;
        position: relative;
        transition: .2s ease;
        background: white;
    
        border-top: 1px solid $light-gray;

        &:nth-child(1) {
          @media (max-width: $sm-max) {
            display: none;
          }
        }

        &:nth-child(2)::before {
          content: '';
          position: absolute;
          left: 0;
          display: block;
          height: 100%;
          width: 1px;
          background-color: $light-gray;        
        }
      }
    }
  }
</style>
