<template>
  <div class="card-intro">
    <h1 class="card-intro__headline headline--1">Wir liefern ab!</h1>
    <p class="card-intro__intro">
      Damit unsere Geschäfte weiterhin erhalten bleiben
      <strong>#bascheliefert</strong>
    </p>
  </div>
</template>

<style lang="scss">
.card-intro {
    &__headline {
      text-align: center;
      margin: 0 0 0 0;
    }

    &__intro {
      font-size: $font-size-l;
      margin-bottom: 5rem;
      text-align: center;

      @media (max-width: $sm-max){
        font-size: $font-size-m;
      }
    }
}
</style>