<template>
    <div 
      class="col-grid" 
      :class="[
        {'col-grid--2': $slots.colRight}, 
        {'col-grid--center': center},
        {'col-grid--left-small': colLeftSmall},
        ]"
    >
        <div class="col-grid__item">
            <slot name="colLeft" />
        </div>
        <div v-if="$slots.colRight" class="col-grid__item">
            <slot name="colRight" />
        </div>
    </div>
</template>


<script>
export default {
  components: {

  },
  props: {
    center: {
      type: Boolean,
      default: false
    },
    colLeftSmall: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {};
  },
  computed: {},
  mounted() {}
};
</script>

<style lang="scss">
.col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;

    &--2 {
      grid-template-columns: 1fr 1fr;

      @media (max-width: $md-max) {
        grid-template-columns: 1fr;
      }
    }

    &--left-small {
      grid-template-columns: 1fr 2fr;

      @media (max-width: $md-max) {
        grid-template-columns: 1fr;
      }

    }

    &--center {
        .col-grid__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
    }
}
</style>