<template>
  <footer class="footer">
    <Section class="footer__section p-b-2" bgSecondary bgPattern full animate-river>
      <Section class="p-t-0 p-b-4">
        <ColGrid class="footer__row" center>
          <template v-slot:colLeft>
            <div ref="lottieAni" class="logo-animation"></div>
            <h2 class="headline--h4 m-b-1">Wir sind auf dem richtigen Weg.</h2>
            <Richtext class="m-b-2">
              <p>Helfen Sie uns dabei, die regionalen Händler zu unterstützen, indem Sie diese Seite in Ihrem Freundeskreis, auf Social Media oder sonstigen Plattformen verbreiten.</p>
            </Richtext>
            <div v-if="mobileShare">
              <Icon @click.native="openMobileShare" class="item-text-list__icon support-icon p-r-05 p-l-05" title="Link kopieren" icon="link" color="white" />
            </div>
            <div v-else class="social-icons">
              <Icon class="item-text-list__icon support-icon p-r-05 p-l-05" title="Link kopieren" icon="link" color="white" />
              <Icon class="item-text-list__icon support-icon p-r-05 p-l-05" title="Per E-Mail teilen" icon="mail" color="white" />
              <Icon class="item-text-list__icon support-icon p-r-05 p-l-05" title="Auf Facebook teilen" icon="facebook" color="white" />
              <Icon class="item-text-list__icon support-icon p-r-05 p-l-05" title="Auf Twitter teilen" icon="twitter" color="white" />
            </div>
          </template>
        </ColGrid>
      </Section>
      <Section class="footer__row2">
        <div class="footer__row2__inner">
          <span class="footer__info">© 2020 Basche liefert – Website umgesetzt von <b>hejo</b></span>
          <div class="footer__legal">
            <g-link to="/impressum/" class="footer__legal__item">Impressum</g-link>
            <g-link to="/datenschutz/" class="footer__legal__item">Datenschutz</g-link>
          </div>
        </div>
      </Section>
    </Section>
  </footer>
</template>


<script>
import ColGrid from "~/components/ColGrid.vue";
import Section from "~/components/Section.vue";
import Richtext from "~/components/Richtext.vue";
import Icon from "~/components/Icon.vue";
import lottie from 'lottie-web';

export default {
  components: {
    ColGrid,
    Section,
    Richtext,
    Icon,
  },
  data() {
    return {
      mobileShare: false,
    }
  },
  methods: {
    openMobileShare() {
      navigator.share({
      title: 'Basche liefert',
      url: window.location,
    }).then(() => {
      // thanks for sharing action
    })
    .catch(console.error);
    },
  },
  mounted() {
    this.anim = lottie.loadAnimation({
      container: this.$refs.lottieAni,
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: '/assets/animations/stepbystep.json',
    })

    if (navigator.share) { 
      this.mobileShare = true;
    }
  }
}
</script>

<style lang="scss">
  .logo-animation {
    width: 100px;
    height: 100px;
  }

  .footer {

    ::selection {
      color: $brand-color-secondary;
      background-color: rgba(white,.996);
    }

    &__row {
      max-width: 870px;
      margin: 0 auto;
    }

    &__row2 {
      text-transform: uppercase;
      line-height: 1.4rem;
      background-color: rgba(black,0.06);
      padding: 2rem 4rem;
      border-radius: $border-radius-large;

      &__inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: $md-max){
          text-align: center;
        }
      }
    }

    &__info {
      width: 100%;
      user-select: none;
    }

    .support-icon {
      transition: .2s ease;
      cursor: pointer;
      width: 3rem;
      margin-right: 0;
    }

    .social-icons:hover {
      .support-icon {
        opacity: .4;
      }
      .support-icon:hover {
        opacity: 1;
        transform: translate3d(0,-3px,0);
      }
    }


    &__legal {
      display: flex;
      justify-content: flex-end;
      color: white;
      text-transform: uppercase;

      @media (max-width: $md-max){
        display: none;
      }

      &__item {
        margin-right: 2rem;
        position: relative;
  
        &:last-child {
          margin-right: 0;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 1px;
          background: white;
          opacity: 0;
        }

        &:hover:after {
          opacity: 1;
        }
      }
    }
  }
</style>
