<template>
  <header 
    class="header-nav"
    :class="{'header-scroll': shrinkHeader}"
  >
    <div class="header-nav__item header-nav__item--left">
      <Button 
        class="nav-left-btn"
        link="/#wir-liefern-fuer-sie" 
        variant="secondary" 
        icon="arrow-right" 
        icon-before
      >
        Wir liefern für Sie
      </Button>
      <img class="header-nav__item--logo-mobile" src="/assets/logo/basche-liefert-signet.svg" alt="Logo" width="37" height="36">
      <img class="header-nav__item--logo-tablet" src="/assets/logo/basche-liefert-logo.svg" alt="Logo" width="262" height="48">
    </div>
    <div class="header-nav__item header-nav__item--logo">
      <img src="/assets/logo/basche-liefert-logo.svg" alt="Logo" width="262" height="48">
    </div>
    <div class="header-nav__item header-nav__item--right">
      <div class="header-nav__menu-desktop">
        <Button 
          class="right-nav-btn--tablet"
          link="/#wir-liefern-fuer-sie" 
          variant="secondary" 
          icon="arrow-right" 
          icon-before
        >
          Wir liefern für Sie
        </Button>
        <Button
          class="right-nav-btn--desktop"
          link="/#so-funktionierts" 
          variant="secondary"
          btn-padding
        >
          SO FUNKTIONIERT’S
        </Button>
        <Button
          class="header-cta" 
          link="https://sebastian404738.typeform.com/to/IKTwKuRY"
          target="_blank" 
          variant="primary"
          h100
          no-border-radius
        >
          Jetzt eintragen!
        </Button>
      </div>
      <div 
        class="header-nav__menu-mobile"
        :class="{active: isActive}"
      >
        <div 
          class="header-nav__menu-mobile__pickup"
          @click="toggleClass()"
        >
          <div class="header-nav__menu-mobile__pickup__bars"></div>
        </div>
        <div class="header-nav__menu-mobile__content">
          <ul class="header-nav__menu-mobile__content__big">
            <li><a href="">Wir liefern für Sie</a></li>
            <li><a href="">So Funktioniert’s</a></li>
          </ul>
          <ul class="header-nav__menu-mobile__content__small">
            <li><a href="">Impressum</a></li>
            <li><a href="">Datenschutz</a></li>
          </ul>
          <Button 
            link="https://sebastian404738.typeform.com/to/IKTwKuRY"
            target="_blank"
            variant="primary"
            class="header-nav__menu-mobile__content__btn "
          >
            Jetzt eintragen!
          </Button>
        </div>
      </div>
    </div>
  </header>
</template>


<script>
import Button from '~/components/Button.vue'
import { throttle } from 'lodash';

export default {
  components: {
    Button
  },
  props: {

  },
  data() {
    return {
      isActive: false,
      shrinkHeader: false,
    }
  },
  computed: {
    
  },
  methods: {
    toggleClass() {
      this.isActive = !this.isActive;
    },
    handleScroll() {

      const distance = window.scrollY;

      if (distance > 20) {
        this.shrinkHeader = true;
      }
      else {
        this.shrinkHeader = false;
      }
    }
  },
  mounted() {
    window.addEventListener('scroll', throttle(this.handleScroll, 100));
  }
}
</script>

<style lang="scss">
  .header-nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    z-index: 1;
    transition: .3s ease;

    @media (max-width: $sm-max) {
      height: $header-mobile-height;
    }

    &.header-scroll {
      height: $header-shrink-height;
      box-shadow: 0 8px 32px rgba(0,0,0,0.1);
      
      @media (min-width: $sm-max) {
        margin-bottom: $header-height - $header-shrink-height;
      }
    }

    .header-cta {
      position: relative;
      overflow: hidden;

      span {
        position: relative;
      }

      &:before {
        content: '';
        position: absolute;
        width: 0%;
        left: 0;
        height: 100%;
        background: #de4e3b;
        transition: .3s ease;
      }
      
      &:hover {
        box-shadow: none;
        transform: translateY(0);

        &:before {
          width: 100%;
        }
      }
    }

    &__item {
      &--logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: $lg-max) {
          display: none;
        }

        img {
          height: 3rem;
        }
      }

      &--logo-tablet {
        display: none;
        @media (max-width: $lg-max) {
          display: block;
        }
        @media (max-width: $sm-max) {
          display: none;
        }
      }
      
      &--logo-mobile {
        display: none;
        @media (max-width: $sm-max) {
          display: block;
        }
      }

      &--left {
        display: flex;
        margin-left: 1.5rem;
        transition: .2s ease;

        &:hover {
          transform: translateX(4px);
        }

        .nav-left-btn {
          @media (max-width: $lg-max) {
            display: none;
          }
        }
      }

      &--right {
        height: 100%;

        @media (max-width: $sm-max) {
          display: flex;
          align-items: center;
        }
      }
    }

    &__menu-desktop {
      height: 100%;
      
      @media (max-width: $lg-max) {
        display: flex;
        align-items: center;
      }

      @media (max-width: $sm-max) {
        display: none;
      }

      .right-nav-btn{
        &--tablet {
          display: none;

          @media (max-width: $lg-max) {
            display: inline-flex;
            padding-right: 2.5rem;
          }
        }

        &--desktop {
          @media (max-width: $lg-max) {
            display: none;
          }
        }
      }
    }

    &__menu-mobile {
      display: none;
      
      @media (max-width: $sm-max) {
        display: flex;
      }

      &.active {
        .header-nav__menu-mobile {
          &__pickup__bars {
            background-color: transparent;
            
            &::before {
              transform: translateY(0) rotate(45deg);
              background-color: $brand-color-secondary;
            }
            
            &::after {
              transform: translateY(0) rotate(-45deg);
              background-color: $brand-color-secondary;
            }
          }
          
          &__content {
            opacity: 1;
            pointer-events: all;

            &::before {
              transform: rotate(45deg) translate(0, 0);
            }

            &__big,
            &__small,
            &__btn {
              transform: translate3d(0,0,0);
              opacity: 1;
              transition: .6s ease;
            }

            &__btn {
              transition-delay: .1s;
            }

            &__small {
              &::before {
                width: 72px;
                transition: .3s .1s ease;
              }
            }
          }
        }
      }

      &__pickup {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        cursor: pointer;

        &__bars {
          height: 2px;
          width: 20px;
          flex-shrink: 0;
          border-radius: 99px;
          background-color: $brand-color-primary;
          position: relative;
          transition: .5s ease;
          
          &::before, &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 99px;
            background-color: $brand-color-primary;
            transition: .5s ease;
          }

          $pickup-space: 6px;
          &::before {
            transform: translateY($pickup-space);
          }

          &::after {
            transform: translateY(-$pickup-space);
          }
        }
      }

      &__content {
        display: flex;
        position: fixed;
        left: 0;
        top: $header-mobile-height;
        height: calc(100% - #{$header-mobile-height});
        width: 100%;
        padding-bottom: 2.5rem;
        background-color: $brand-color-primary;
         @include bg-pattern--strong;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;

        opacity: 0;
        pointer-events: none;

        transition: .2s;

        &::before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          top: -8px;
          right: 25px;
          background-color: $brand-color-primary;
          transform: rotate(45deg) translate(8px, 8px);
          transition: .3s ease;
          border-radius: 2px;
        }

        &__big {
          text-transform: uppercase;
          font-size: $font-size-m;
          transform: translate3d(0, 2rem, 0);
          opacity: 0;

          li {
            padding: .5rem 0;
          }
        }

        &__small {
          position: relative;
          margin-top: 4rem;
          text-transform: uppercase;
          font-size: $font-size-xs;
          transform: translate3d(0, 2rem, 0);
          opacity: 0;

          li {
            padding: .25rem 0;
          }

          &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            top: -2.25rem;
            left: 50%;
            background-color: white;
            opacity: .2;
            transform: translateX(-50%);
          }
        }

        &__btn {
          position: absolute;
          margin: 0 2.5rem 2.75rem;
          width: calc(100% - 5rem);
          height: 4rem;
          bottom: 0;
          left: 0;
          border-radius: $border-radius-default;
          transform: translate3d(0, 5rem, 0);
          opacity: 0;
        }
      }
    }

  }

</style>
