<template>
  <div 
    class="icon"
    :class="[
      {'icon--color-primary': color === 'primary'},
      {'icon--color-secondary': color === 'secondary'},
      {'icon--color-tertiary': color === 'tertiary'},
      {'icon--color-soft': color === 'soft'},
      {'icon--color-white': color === 'white'},
      `icon--${icon}`
    ]"
  >
    <svg v-if="icon === 'arrow-left'" viewBox="0 0 32 32">
      <g id="ICON/Arrow-left" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M23.5696334,10.2151869 L23.6568542,10.2928932 L28.6066017,15.2426407 C28.9692314,15.6052704 28.9951335,16.1771158 28.6843081,16.5696334 L28.6066017,16.6568542 L23.6568542,21.6066017 C23.26633,21.997126 22.633165,21.997126 22.2426407,21.6066017 C21.880011,21.243972 21.8541089,20.6721266 22.1649343,20.279609 L22.2426407,20.1923882 L25.433,17 L4,17 C3.44771525,17 3,16.5522847 3,16 C3,15.4871642 3.38604019,15.0644928 3.88337887,15.0067277 L4,15 L25.535,15 L22.2426407,11.7071068 C21.880011,11.3444771 21.8541089,10.7726317 22.1649343,10.380114 L22.2426407,10.2928932 C22.6052704,9.93026352 23.1771158,9.9043614 23.5696334,10.2151869 Z" transform="translate(15.949747, 15.949747) scale(-1, 1) translate(-15.949747, -15.949747) "></path>
      </g>
    </svg>

    <svg v-if="icon === 'arrow-right'" viewBox="0 0 32 32">
      <g id="ICON/Arrow-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M23.5696334,10.2151869 L23.6568542,10.2928932 L28.6066017,15.2426407 C28.9692314,15.6052704 28.9951335,16.1771158 28.6843081,16.5696334 L28.6066017,16.6568542 L23.6568542,21.6066017 C23.26633,21.997126 22.633165,21.997126 22.2426407,21.6066017 C21.880011,21.243972 21.8541089,20.6721266 22.1649343,20.279609 L22.2426407,20.1923882 L25.433,17 L4,17 C3.44771525,17 3,16.5522847 3,16 C3,15.4871642 3.38604019,15.0644928 3.88337887,15.0067277 L4,15 L25.535,15 L22.2426407,11.7071068 C21.880011,11.3444771 21.8541089,10.7726317 22.1649343,10.380114 L22.2426407,10.2928932 C22.6052704,9.93026352 23.1771158,9.9043614 23.5696334,10.2151869 Z"></path>
      </g>
    </svg>

    <svg v-if="icon === 'phone'" viewBox="0 0 32 32">
      <g id="ICON/Phone" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M16,11.4689035 C18.1446952,11.4689035 18.9141213,11.8619912 19.3037115,12.0822618 C19.2707171,12.3025261 19.2389899,12.7123085 19.2059955,13.2796024 C19.0752658,14.9175346 20.7429614,16.3351522 22.400344,16.5246576 L22.400344,16.5246576 L25.4536498,16.8716873 L25.7139267,17.375 C26.6555446,19.0128062 27.1428571,20.6380412 27.1428571,22.4961747 L27.1428571,22.4961747 L27.1428571,25.2993782 C27.1428571,26.2444481 26.3636768,27 25.3890516,27 L25.3890516,27 L6.61094837,27 C5.6363232,27 4.85714286,26.2444481 4.85714286,25.2993782 L4.85714286,25.2993782 L4.85714286,22.4961747 C4.85714286,20.6060348 5.34445544,19.0128692 6.28607331,17.375 L6.28607331,17.375 L6.61094837,16.8716873 L9.66678815,16.5246576 C11.3228712,16.3350765 12.8910435,14.9174716 12.7616003,13.2796024 C12.6968787,12.7123085 12.6638844,12.3025324 12.6638844,12.0822618 C13.0534095,11.8312513 13.8553048,11.4689035 16,11.4689035 Z M16,16.5 C14.0989266,16.5 12.5714286,18.0580266 12.5714286,20 C12.5714286,21.9406791 14.0976587,23.5 16,23.5 C17.9021972,23.5 19.4285714,21.9109388 19.4285714,20 C19.4285714,18.0593209 17.9023413,16.5 16,16.5 Z M15.9999445,6 C22.6327069,6 28,8.43096477 28,11.4758692 C28,12.0298237 27.8144061,13.0439716 27.5059055,13.8442649 C27.2600922,14.4282428 26.6430911,14.7971418 25.9947462,14.7358586 L25.9947462,14.7358586 L22.2313477,14.3056886 C21.4600962,14.2131578 20.9045422,13.5366491 20.9660017,12.7676095 C21.0274612,11.9685467 21.0587925,11.4145921 21.0587925,11.2607842 C21.0587925,9.99906716 18.8078489,9.38383552 16,9.38383552 C13.1935085,9.38383552 10.9412075,9.99906716 10.9412075,11.2607842 C10.9412075,11.4145921 10.9725388,11.9673162 11.0339983,12.7676095 C11.0954516,13.5366491 10.5399038,14.2131639 9.76865233,14.3056886 L9.76865233,14.3056886 L6.00525376,14.7358586 C5.35814295,14.8283894 4.74113562,14.4594965 4.49409453,13.8442649 C4.18558161,13.0139483 4,12.0298237 4,11.4758692 C4,8.46092655 9.36729308,6 15.9999445,6 Z"></path>
      </g>
    </svg>

    <svg v-if="icon === 'location-pin'" viewBox="0 0 32 32">
      <g id="ICON/Pin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M16,4 C20.9619496,4 25,7.80607947 25,12.4829835 C25,17.8305423 17.1060168,27.2513589 16.7693109,27.6491324 C16.582598,27.8718998 16.2989815,28 16,28 L16,27.9997434 C15.7010245,27.9997434 15.417405,27.8716517 15.2306891,27.6499878 C14.8950723,27.2523569 7,17.8425183 7,12.4829835 C7,7.80607947 11.0380504,4 16,4 Z M16,8.61776555 C13.7380807,8.61776555 11.8981458,10.3521151 11.8993272,12.4840101 C11.8993272,14.6148785 13.7381714,16.349114 16,16.349114 L16,16.349114 C18.2607395,16.349114 20.1006723,14.6147644 20.1006723,12.4828695 C20.1006723,10.352001 18.2619193,8.61776555 16,8.61776555 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'mail'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Mail" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M26.7586662,13.429088 C27.0152306,13.2684334 27.3296995,13.2684334 27.5862507,13.429176 C27.8448702,13.5909552 28.0031464,13.8920514 28.0002148,14.2156097 L28.0002148,14.2156097 L28.0002148,22.3036804 C28.0002148,23.7922789 26.8879812,25 25.5172895,25 L25.5172895,25 L6.48284625,25 C5.11215448,25 3.99997965,23.7922789 3.99997965,22.3036804 L3.99997965,22.3036804 L3.99997965,14.211008 C3.99905996,13.8897218 4.15630102,13.590866 4.41285221,13.4302114 C4.66835733,13.2684334 4.98491833,13.2684334 5.24146952,13.429088 L5.24146952,13.429088 L14.9539968,19.3896747 C15.5957962,19.7835475 16.4044301,19.783546 17.046228,19.3896707 L17.046228,19.3896707 Z M25.5173525,7 C26.8880314,7 28.000171,8.0863883 28.000171,9.42543587 C28.0011155,9.71547919 27.8438786,9.98431062 27.5862943,10.1288252 L27.5862943,10.1288252 L16.4138761,16.8916141 C16.1573141,17.0361286 15.8428482,17.0361286 15.5862994,16.8916141 L15.5862994,16.8916141 L4.41388117,10.1288252 C4.15629692,9.98430803 3.9990584,9.71547919 4.00000424,9.42543587 C4.00000424,8.0863883 5.11214407,7 6.48282298,7 L6.48282298,7 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'checkmark'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Checkmark" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M21.3709514,1.71535671 C22.1506476,1.71535671 22.7914001,2.31024479 22.8640849,3.0708967 L22.8709514,3.21535671 L22.8709514,23.2153567 C22.8709514,23.9950528 22.2760634,24.6358054 21.5154114,24.7084901 L21.3709514,24.7153567 L10.9800722,24.630206 C10.1516451,24.630206 9.4800722,23.9586331 9.4800722,23.130206 C9.4800722,22.3505099 10.0749603,21.7097573 10.8356122,21.6370726 L10.9800722,21.630206 L19.8707963,21.7153567 L19.8709514,3.21535671 C19.8709514,2.43566059 20.4658395,1.79490803 21.2264914,1.72222329 L21.3709514,1.71535671 Z" id="Rectangle" fill="#F45D48" transform="translate(16.175512, 13.215357) rotate(-315.000000) translate(-16.175512, -13.215357) "></path>
      </g>
    </svg>

    <svg v-if="icon === 'clock'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Clock" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M17,15.4338096 L17,8 L16.9932723,7.88337887 C16.9355072,7.38604019 16.5128358,7 16,7 C15.4477153,7 15,7.44771525 15,8 L15,15.9816719 C14.9992184,16.0266054 15.0014719,16.0714311 15.0066825,16.1158367 C15.0224661,16.252123 15.0652918,16.379363 15.1296484,16.4927847 C15.1975083,16.6128966 15.2910255,16.7203032 15.4079439,16.8059791 C15.4378132,16.8279574 15.4689486,16.8483151 15.5012204,16.8669226 L20.4855042,19.8574929 L20.5889674,19.911725 C21.0451517,20.1180705 21.5936411,19.9542489 21.8574929,19.5144958 C22.1416411,19.0409155 21.988076,18.4266552 21.5144958,18.1425071 L17,15.4338096 Z M28,16 C28,22.6279183 22.6279183,28 16,28 C9.37208172,28 4,22.6279183 4,16 C4,9.37208172 9.37208172,4 16,4 C22.6279183,4 28,9.37208172 28,16 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'close'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Close" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M16,14.5857864 L23.2928932,7.29289322 C23.6834175,6.90236893 24.3165825,6.90236893 24.7071068,7.29289322 C25.0675907,7.65337718 25.0953203,8.22060824 24.7902954,8.61289944 L24.7071068,8.70710678 L17.4142136,16 L24.7071068,23.2928932 C25.0976311,23.6834175 25.0976311,24.3165825 24.7071068,24.7071068 C24.3466228,25.0675907 23.7793918,25.0953203 23.3871006,24.7902954 L23.2928932,24.7071068 L16,17.4142136 L8.70710678,24.7071068 C8.31658249,25.0976311 7.68341751,25.0976311 7.29289322,24.7071068 C6.93240926,24.3466228 6.90467972,23.7793918 7.20970461,23.3871006 L7.29289322,23.2928932 L14.5857864,16 L7.29289322,8.70710678 C6.90236893,8.31658249 6.90236893,7.68341751 7.29289322,7.29289322 C7.65337718,6.93240926 8.22060824,6.90467972 8.61289944,7.20970461 L8.70710678,7.29289322 L16,14.5857864 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'Download'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Download" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M15.5,18.4497475 L15.5,5 C15.5,4.44771525 15.9477153,4 16.5,4 C17.0128358,4 17.4355072,4.38604019 17.4932723,4.88337887 L17.5,5 L17.5,18.4497475 L22.1568542,13.7928932 C22.5194839,13.4302635 23.0913293,13.4043614 23.483847,13.7151869 L23.5710678,13.7928932 C23.9336975,14.1555229 23.9595996,14.7273683 23.6487742,15.119886 L23.5710678,15.2071068 L17.2071068,21.5710678 C16.8444771,21.9336975 16.2726317,21.9595996 15.880114,21.6487742 L15.7928932,21.5710678 L9.42893219,15.2071068 C9.0384079,14.8165825 9.0384079,14.1834175 9.42893219,13.7928932 C9.79156189,13.4302635 10.3634073,13.4043614 10.7559249,13.7151869 L10.8431458,13.7928932 L15.5,18.4497475 Z M28,27 C28,27.5128358 27.6139598,27.9355072 27.1166211,27.9932723 L27,28 L6,28 C5.48716416,28 5.06449284,27.6139598 5.00672773,27.1166211 L5,27 L5,23 C5,22.4477153 5.44771525,22 6,22 C6.51283584,22 6.93550716,22.3860402 6.99327227,22.8833789 L7,23 L7,26 L26,26 L26,23 C26,22.4871642 26.3860402,22.0644928 26.8833789,22.0067277 L27,22 C27.5128358,22 27.9355072,22.3860402 27.9932723,22.8833789 L28,23 L28,27 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'link'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Link" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M17.6423818,13.5883965 C18.1192061,14.0920763 18.1192061,14.9086221 17.6423818,15.4114424 C17.1655575,15.9151222 16.3925489,15.9151222 15.9165383,15.4114424 C14.8611781,14.2983615 13.145099,14.2992211 12.0905524,15.4114424 L7.23280346,20.5436476 C6.72180407,21.0834273 6.44107989,21.8011281 6.44107989,22.5643836 C6.44107989,23.3267795 6.72180407,24.0444803 7.23280346,24.58426 C8.28734998,25.6973409 10.0026154,25.6964813 11.0587893,24.58426 L14.1426869,21.4796669 C14.6292755,20.9888799 15.4022842,21.0086489 15.8677167,21.5235026 C16.3331493,22.0392157 16.3144343,22.8557615 15.8262184,23.3465485 L12.7634768,26.4296535 C11.7732121,27.4756916 10.4647932,28 9.15311964,28 C7.83412281,28 6.5126849,27.4705345 5.50695998,26.4073059 C4.5345965,25.3810368 4,24.016116 4,22.5643836 C4,21.1117916 4.5345965,19.7468708 5.50695998,18.7206017 L10.364709,13.5883965 C12.3712766,11.4705345 15.6358141,11.4705345 17.6423818,13.5883965 Z M26.49304,5.59166153 C27.4654035,6.61874125 28,7.98359699 28,9.43526029 C28,10.8869236 27.4654035,12.2517793 26.49304,13.2788591 L21.635291,18.4099603 C20.6320072,19.4697003 19.3146378,20 17.9964546,20 C16.6782715,20 15.360902,19.4697003 14.3576182,18.4099603 C13.8807939,17.9063044 13.8807939,17.090657 14.3576182,16.5870012 C14.8344425,16.0833454 15.6066374,16.0833454 16.0834617,16.5870012 C17.1380082,17.700029 18.8540874,17.6991695 19.9094476,16.5870012 L24.7671965,11.4559 C25.2781959,10.916146 25.5589201,10.1984794 25.5589201,9.43526029 C25.5589201,8.67204122 25.2781959,7.95437463 24.7671965,7.4146206 C23.7118363,6.30159279 21.9965709,6.30159279 20.9412107,7.4146206 L17.8573131,10.5199252 C17.3699108,11.0106889 16.5969022,10.9909208 16.1314696,10.4760917 C15.6668507,9.95954367 15.6855657,9.14389625 16.1737816,8.65313264 L19.2365232,5.57017451 C21.2219348,3.47304102 24.487286,3.47304102 26.49304,5.59166153 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'pickup'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Pickup" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M7,7 L25,7 C25.5522847,7 26,7.44771525 26,8 C26,8.55228475 25.5522847,9 25,9 L7,9 C6.44771525,9 6,8.55228475 6,8 C6,7.44771525 6.44771525,7 7,7 Z M7,15 L25,15 C25.5522847,15 26,15.4477153 26,16 C26,16.5522847 25.5522847,17 25,17 L7,17 C6.44771525,17 6,16.5522847 6,16 C6,15.4477153 6.44771525,15 7,15 Z M7,23 L25,23 C25.5522847,23 26,23.4477153 26,24 C26,24.5522847 25.5522847,25 25,25 L7,25 C6.44771525,25 6,24.5522847 6,24 C6,23.4477153 6.44771525,23 7,23 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'pin'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Pin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M16,27.9997434 C15.7010245,27.9997434 15.417405,27.8716517 15.2306891,27.6499878 C14.8950723,27.2523569 7,17.8425183 7,12.4829835 C7,7.80607947 11.0380504,4 16,4 C20.9619496,4 25,7.80607947 25,12.4829835 C25,17.8305423 17.1060168,27.2513589 16.7693109,27.6491324 C16.582598,27.8718998 16.2989815,28 16,28 L16,27.9997434 Z M16,16.349114 C18.2607395,16.349114 20.1006723,14.6147644 20.1006723,12.4828695 C20.1006723,10.352001 18.2619193,8.61776555 16,8.61776555 C13.7380807,8.61776555 11.8981458,10.3521151 11.8993277,12.4840101 C11.8993277,14.6148785 13.7381714,16.349114 16,16.349114 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'search'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Search" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M18.9056439,20.3198574 C17.5509601,21.3729184 15.8487115,22 14,22 C9.581722,22 6,18.418278 6,14 C6,9.581722 9.581722,6 14,6 C18.418278,6 22,9.581722 22,14 C22,15.8487115 21.3729184,17.5509601 20.3198574,18.9056439 L25.7071068,24.2928932 C26.0976311,24.6834175 26.0976311,25.3165825 25.7071068,25.7071068 C25.3466228,26.0675907 24.7793918,26.0953203 24.3871006,25.7902954 L24.2928932,25.7071068 L18.9056439,20.3198574 Z M14,8 C10.6862915,8 8,10.6862915 8,14 C8,17.3137085 10.6862915,20 14,20 C17.3137085,20 20,17.3137085 20,14 C20,10.6862915 17.3137085,8 14,8 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'facebook'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Facebook" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M21.5481642,4.00468747 L18.6695317,4 C15.4363845,4 13.3458959,6.31842737 13.3458959,9.90614321 L13.3458959,12.6296818 L10.4526063,12.6296818 C10.2028946,12.6296818 10,12.8490555 10,13.1190635 L10,17.0648832 C10,17.3348822 10.202886,17.5542648 10.4526063,17.5542648 L13.3468388,17.5542648 L13.3468388,27.5106184 C13.3468388,27.7806174 13.5497248,28 13.7994451,28 L17.5755074,28 C17.8252191,28 18.0281137,27.7806264 18.0281137,27.5106184 L18.0272464,17.5542648 L21.4113367,17.5542648 C21.6610485,17.5542648 21.863943,17.3348912 21.863943,17.0648832 L21.865677,13.1190635 C21.865677,12.9896895 21.8179898,12.8649983 21.7330168,12.7731219 C21.6480464,12.6812456 21.5327279,12.6296818 21.4130792,12.6296818 L18.0271889,12.6296818 L18.0271889,10.3215401 C18.0271889,9.2114992 18.2717064,8.64903515 19.6087053,8.64903515 L21.5473937,8.64809771 C21.7971054,8.64809771 22,8.4287241 22,8.1587161 L22,4.49394792 C22,4.22488727 21.7979797,4.00549562 21.5482594,4.0045663 L21.5481606,4.00470958 L21.5481642,4.00468747 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'twitter'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Twitter" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M28.4907536,6.0004263 L26.4125975,7.22148146 C25.7669139,7.60229775 25.0700678,7.88880034 24.3415193,8.07569701 C22.7591217,6.7131059 20.5204315,6.38995782 18.6113653,7.24763484 C16.7025325,8.10538879 15.4747257,9.98850908 15.4694367,12.0653182 C12.5656651,11.6460642 9.92486148,10.1647367 8.06876228,7.9112384 L7.23077984,6.89456421 L6.56215946,8.03008244 C5.77714399,9.36998164 5.62010978,10.9805683 6.1334693,12.4426961 L5.82827539,12.2749914 L5.80004889,13.7878106 L5.80004889,13.8594347 C5.80181337,15.0507981 6.20756782,16.207239 6.95381086,17.1418377 L7.40014112,18.5201209 C7.83588576,19.8669431 8.79734888,20.9866923 10.0710448,21.6278347 C9.07252818,22.0505811 7.99638887,22.2689464 6.90967172,22.2654541 C6.59212663,22.2654541 6.27460487,22.2479852 5.95875533,22.2113028 L2,21.7483572 L5.35542976,23.8777808 C7.53236408,25.2630638 10.0658337,25.9967431 12.6518036,25.9967431 C16.4958361,26.0823415 20.1794122,24.4770009 22.7124151,21.6138212 C24.9299496,19.1157887 26.1648343,15.9102305 26.1930678,12.5839821 L26.1930678,12.4564613 L26.1930678,12.458208 C26.985161,11.82935 27.6748982,11.0851555 28.2394124,10.2484012 L30,7.64206305 L27.6007756,8.69542889 C27.6572278,8.5609159 27.7083895,8.42291067 27.7542553,8.28142088 L28.490566,6 L28.4907536,6.0004263 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>

    <svg v-if="icon === 'website'" viewBox="0 0 32 32" version="1.1">
      <g id="ICON/Website" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M27.4683572,20 L22,20 C22.1410446,18.68624 22.2126515,17.335008 22.2126515,16 C22.2126515,14.664992 22.1410446,13.31376 22,12 L27.4683572,12 C27.8133848,13.262496 28,14.60624 28,16 C28,17.39376 27.812296,18.737504 27.4683572,20 Z M19,10 L13,10 C13.7677966,6.21184305 15.0255026,4 16,4 C16.9744974,4 18.2320556,6.21202304 19,10 Z M9.78734845,16 C9.78734845,17.335008 9.85895538,18.68624 10,20 L4.53164276,20 C4.18661519,18.737504 4,17.39376 4,16 C4,14.60624 4.18770397,13.262496 4.53164276,12 L10,12 C9.85895538,13.31376 9.78734845,14.664992 9.78734845,16 Z M13,22 L19,22 C18.2322034,25.7881569 16.9744974,28 16,28 C15.0255026,28 13.7679444,25.787977 13,22 Z M19.7449681,12 L19.7449969,12 C19.9049978,13.221248 20,14.557504 20,16 C20,17.442496 19.9049978,18.778752 19.7462481,20 L12.2550031,20 C12.0950022,18.778752 12,17.442496 12,16 C12,14.557504 12.0950022,13.221248 12.2550031,12 L19.7449681,12 Z M21.6046728,10 L21.6044558,10 C21.0571739,7.5399754 20.1805494,5.39578721 19,4 C22.4121431,4.85639606 25.2794219,7.05230627 27,10 L21.6046728,10 Z M10.3953272,22 L10.3955442,22 C10.9428261,24.4600246 11.8194506,26.6042128 13,28 C9.58785695,27.1436039 6.72057809,24.9476937 5,22 L10.3953272,22 Z M21.6044558,22 L27,22 C25.2793599,24.947786 22.4121431,27.1435424 19,28 C20.1805184,26.6030135 21.0571739,24.4600246 21.6044558,22 Z M10.3955442,10 L5,10 C6.72064009,7.05221402 9.58785695,4.85645756 13,4 C11.8194816,5.39698647 10.9428261,7.5399754 10.3955442,10 Z" id="Icon-Color" fill="#F45D48"></path>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
      icon: {
        type: String,
        default: 'arrow-left'
      },
      color: {
        type: String,
        default: 'primary'
      }
  },
  data() {
    return {
      
    }
  },
  mounted() {

  }
}
</script>

<style lang="scss">
  .icon {
    display: inline-block;
    width: 32px;
    height: 32px;

    svg path {
      fill: black;
    }

    &--color-primary {
      svg path {
        fill: $brand-color-primary;
      }
    }
    &--color-secondary {
      svg path {
        fill: $brand-color-secondary;
      }
    }
    &--color-tertiary {
      svg path {
        fill: $brand-color-tertiary;
      }
    }
    &--color-soft {
      svg path {
        fill: $brand-color-soft;
      }
    }
    &--color-white {
      svg path {
        fill: white;
      }
    }
  }

</style>
