<template>
  <ul 
    class="item-text-list" 
    :class="{'item-text-list--checklist': checklist}"
  >
    <slot />
  </ul>
</template>


<script>
export default {
  components: {

  },
  props: {
    checklist: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {

    };
  },
  computed: {

  },
  mounted() {

  }
};
</script>

<style lang="scss">
.item-text-list {
  li {
    display: flex;
    margin-bottom: .5rem;
  }

  &--checklist {
    li {
      margin-bottom: .25rem;
    }
  }

  &__text {
    margin-top: .25rem;
    line-height: 1.6;

    &.link {
      position: relative;
      font-weight: 700;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $brand-color-primary;
        left: 0;
        bottom: 2px;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 1rem;
  }
}
</style>
