<template>
  <div 
    class="modal" 
    :class="[{'modal--active': isActive}]" 
    @click.self="closeModal()"
  >
    <Button
      class="modal__close modal__close--mobile"
      element="button" 
      variant="link"
      icon="close" 
      color-of-icon="white"
      icon-after
      @click.native="closeModal()"
    >
      Schließen 
    </Button>
    <div class="modal__inner">
      <Button
        class="modal__close"
        element="button" 
        variant="link"
        icon="close" 
        icon-after
        @click.native="closeModal()"
      >
        Schließen 
      </Button>
      <slot />
    </div>
  </div>
</template>


<script>
import Icon from '~/components/Icon.vue'
import Button from '~/components/Button.vue'

export default {
  components: {
      Icon,
      Button,
  },
  props: {
    name: {
        type: String,
        default: ''
    },
  },
  data() {
    return {
      isActive: false,
    };
  },
  computed: {},
  mounted() {
    this.$eventBus.$on(`open-modal-${this.name}`, this.openModal)
  },
  methods: {
      openModal(){
        this.isActive = true;
        document.body.classList.add('modal-open');
      },
      closeModal(){
        this.isActive = false;
        setTimeout(()=> {
          document.body.classList.remove('modal-open');
        }, 500)
      },
  }
};
</script>

<style lang="scss">

    .modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-right: -15px;
      background-color: rgba(#000000, .5);
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease;

      @media (max-width: $sm-max) {
        display: block;
        height: 100%;
        flex-direction: column;
        padding: 0 .5rem;
        background-color: $brand-color-primary;
        overflow: scroll;
      }

      &--active {
        opacity: 1;
        pointer-events: all;
      }

      &__inner {
        position: relative;
        width: 100%;
        max-width: calc(1200px + 4rem);
        height: 80%;
        background-color: white;
        border-radius: $border-radius-default;
        overflow: hidden;
        transform: translate3d(0, 100vh, 0);
        transition-delay: 0.1s;
        margin-right: -15px;

        @media (max-width: $sm-max) {
          position: relative;
          height: auto;
          margin-right: 0;
          overflow: visible;
        }
        
        .modal--active & {
          transform: translate3d(0, 0, 0);
          transition: transform 0.4s ease;
          margin-right: 0;
        }
      }

      &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.9rem 2rem;
        transition: 0.2s ease;

        @media (max-width: $sm-max) {
          display: none;
        }
        
        &--mobile {
          position: relative;
          display: flex;
          width: 100%;
          justify-content: flex-end;
          color: white;
          padding: 1rem .5rem 1rem 1rem;
          display: flex;
          overflow: auto;
          @media (min-width: $sm-max + 1) {
            display: none;
          }
        }
        
        .icon {
          transition: 0.2s ease;

          svg path { 
            transition: 0.2s ease;
          }
        }

        &:hover, &:focus {
          color: $brand-color-secondary;

          .icon {
            transform: rotate(90deg);

            svg path {
              fill: $brand-color-secondary;
            }
          }
        }
      }
    }
</style>
