<template>
  <div class="richtext">
    <slot />
  </div>
</template>


<script>
export default {
  components: {},
  props: {},
  data() {
    return {};
  },
  computed: {},
  mounted() {}
};
</script>

<style lang="scss">
.richtext {
  & > *:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    li {
      margin-bottom: 5px;
    }
  }
}
</style>
