<template>
  <section class="section" 
    :class="[
      {'section--beige': bgBeige}, 
      {'section--green': bgGreen},
      {'section--secondary': bgSecondary},
      {'section--bgPattern': bgPattern},
      {'section--bgPattern-animate-river': animateRiver},
      {'section--bgPattern-animate-waterfall': animateWaterfall},
      {'section--full': full},
      {'section--stage': stage},
      ]
    ">
    <article class="section__inner">
      <slot />
    </article>
  </section>
</template>


<script>
export default {
  components: {},
  props: {
    bgBeige: {
      type: Boolean,
      default: false
    },
    bgGreen: {
      type: Boolean,
      default: false
    },
    bgSecondary: {
      type: Boolean,
      default: false
    },
    bgPattern: {
      type: Boolean,
      default: false
    },
    animateRiver: {
      type: Boolean,
      default: false
    },
    animateWaterfall: {
      type: Boolean,
      default: false
    },
    full: {
      type: Boolean,
      default: false
    },
    stage: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {};
  },
  computed: {},
  mounted() {}
};
</script>

<style lang="scss">
.section {
  padding: 6.25rem 2rem;

  @media (max-width: $xs-max) {
    padding: 4rem 1rem;
  }

  &__inner {
    max-width: calc(1200px + 4rem);
    margin: 0 auto;
  }

  &--full {
    .section__inner {
      max-width: none;
    }
  }

  &--beige {
    background-color: $brand-color-soft;
  }

  &--secondary {
    background-color: $brand-color-secondary;
    color: white;
  }

  &--green {
    padding: 0 1.5rem;
    color: white;

    .section__inner {
      max-width: none;
      padding: 6rem 2rem;
      border-radius: $border-radius-large;
      background-color: $brand-color-tertiary;
    }

    @media (max-width: $xs-max) {
      padding: 0 1rem;

      .section__inner {
        padding: 4rem 1rem;
      }
    }
  }

  &--bgPattern {
    @include bg-pattern;

    &.section--green {
      background-image: none;
      .section__inner {
        @include bg-pattern;
      }
    }
  }

  &--bgPattern-animate-river {
    background-image: none;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: calc(100vw + 1150px);
      height: 100%;
      @include bg-pattern;
      will-change: transform;
      transform: translate3d(-1150px, 0, 0);
      z-index: 0;
      animation: bg-animate-river 40s linear infinite;
      
      @keyframes bg-animate-river {
        0% {transform: translate3d(-1150px, 0, 0);}
        100% {transform: translate3d(0px, 0, 0);}
      }
    }

    .section__inner {
      position: relative;
    }
  }

  &--bgPattern-animate-waterfall {
    &.section--green {
      background-image: none;
      .section__inner {
        background-image: none;
        position: relative;
        overflow: hidden;

        &::before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100% + 1018px);
          @include bg-pattern;
          will-change: transform;
          transform: translate3d(0, -1018px, 0);
          z-index: 0;
          animation: bg-animate-waterfall 40s linear infinite;
          
          @keyframes bg-animate-waterfall {
            0% {transform: translate3d(0, -1018px, 0);}
            100% {transform: translate3d(0, 0px, 0);}
          }
        }

        > .col-grid {
          position: relative;
        }
      }
    }
  }

  &--stage {
    @media (min-width: $sm-max) {
      margin-top: $header-shrink-height - $header-height;
      padding-top: calc(6.25rem + #{$header-height} - #{$header-shrink-height});
    }
  }
}
</style>