<template>
  <div class="show-more-card-grid">
    <CardGrid ref="cardGrid">
      <Card v-for="(card, index) in cards.slice(0, initialCards)" :key="`init${index}`" :card="card" :card-index="index+1"/>
      <Card v-for="(card, index) in cardsToShow" :key="`loadmore${index}`" :card="card" :card-index="index+initialCards+1"/>
    </CardGrid>
    <Modal name="card-slider" >
      <CardSlider :cards="cards" />
    </Modal>
    <ColGrid center>
      <template v-slot:colLeft>
        <Button v-if="dataShowLoadMoreBtn" element="span" variant="primary" ref="showMoreBtn" @click.native="showMoreCards()">Mehr Händler anzeigen</Button>
      </template>
    </ColGrid>
  </div>
</template>


<script>
import CardGrid from '~/components/CardGrid.vue'
import CardSlider from '~/components/CardSlider.vue'
import Card from '~/components/Card.vue'
import Button from '~/components/Button.vue'
import Modal from '~/components/Modal.vue'
import ColGrid from '~/components/ColGrid.vue'
import ColGrido from '../../static/assets/logo/basche-liefert-logo.svg'

export default {
  components: {
    CardGrid,
    Card,
    Button,
    Modal,
    ColGrid,
    CardSlider
  },
  props: {
      cards: {
        type: Array,
        default: []
      },
      initialCards: {
        type: Number,
        default: 2
      },
      cardsToLoad: {
        type: Number,
        default: 2
      },
      showLoadMoreBtn: {
        type: Boolean,
        default: true
      }
  },
  data() {
    return {
      cardsToShow: [],
      currentCardsToShow: 0,
      dataShowLoadMoreBtn: this.showLoadMoreBtn,

    }
  },
  computed: {

  },
  mounted() {
    this.cardsToShow = 0;
    this.currentCardsToShow = this.initialCards;

    if(this.currentCardsToShow >= this.cards.length) {
      this.dataShowLoadMoreBtn = false;
    }
  },
  methods: {
    showMoreCards() {
      const newCardsToShow = this.currentCardsToShow + this.cardsToLoad
      this.cardsToShow = this.cards.slice(this.initialCards, newCardsToShow);
      this.currentCardsToShow = newCardsToShow;

      if(this.currentCardsToShow >= this.cards.length) {
        this.dataShowLoadMoreBtn = false;
      }
    }
  }
}
</script>

<style lang="scss">
  
</style>
