<template>
  <div class="layout">
    <HeaderNav />
    <slot/>
    <Footer />
  </div>
</template>

<script>
import HeaderNav from '~/components/HeaderNav.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    HeaderNav,
    Footer
  },
}
</script>

<style lang="scss">
  // style needs a anything in this layout, otherwise the external scss is not compiled correctly
</style>
